@import url(default.css);
@import url(fonts.css);
@import url(common.css);


header {
    position: absolute; /* body를 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    color: #fff;
}
header .wrapper {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
header .logo a {
    display: block;
    width: 244px;
    height: 62px;
    font-size: 0;
    line-height: 0;
    position: relative; /* before 정렬의 기준 */
}
header .logo a::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../images/logo_w.svg);
    content: "";
}
@media screen and (min-width:1025px) { /* 1025이상 - pc 버전 메뉴 */
    /* 메뉴가 상단에 표시되는 것은 브라우저 넓이가 1025px 이상일 때 까지만 */
        header .gnb .gnb_open,
        header .gnb .gnb_close {
            display: none; /* 모바일에서만 나옴 */
        }
        header .gnb .gnb_wrap ul.depth1 {
            display: flex;
        }
        header .gnb .gnb_wrap ul.depth1 > li {
            position: relative; /* 2차메뉴 정렬의 중심 */
        }
        header .gnb .gnb_wrap ul.depth1 > li > a {
            padding: 0 26px; /* 좌우여백만 줌 */
            line-height: 100px;
            /* header의 높이와 동일하게 행간을 줌 */
            display: block;
            font-size: 20px;
            font-weight: 700;
            position: relative;
            white-space: nowrap;
        }
        /* has 가상 선택자는 하위요소중에서 depth2라는 클래스 명을 가진 요소가 있는지 계산
            브라우저 높은 버전만 지원 - 하위 브라우저에서 구현 x
            ---기능상 문제는 x (화살표만 안나옴) */
        header .gnb .gnb_wrap ul.depth1 > li:has(.depth2) > a::after {
            position: absolute;
            right: 12px;
            top: 40px;
            width: 10px;
            height: 17px;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8.108' height='5' viewBox='0 0 8.108 5'%3E%3Cpath id='chevron_right_24dp_FILL0_wght400_GRAD0_opsz24' d='M323.108-715.946,320-719.054l.946-.946L325-715.946l-4.054,4.054-.946-.946Z' transform='translate(-711.892 -320) rotate(90)' fill='%23fff'/%3E%3C/svg%3E%0A");
            content: ""; 
        }
        header .gnb .gnb_wrap ul.depth2 {
            display: none;
            position: absolute;
            left: 0;
            top: 100px;
            padding: 10px 0 0 0;
            text-align: center;
        }
        header .gnb .gnb_wrap ul.depth2::before {
            position: absolute;
            left: 0;
            top: 10px;
            width: 100%;
            height: calc(100% - 9px);
        }
        header .gnb .gnb_wrap ul.depth2 > li {
            background-color: #1d1d1d;
        }
        header .gnb .gnb_wrap ul.depth2 > li > a {
            display: block;
            white-space: nowrap;
            line-height: 2;
            padding: 0 12px;
        }
        header .gnb .gnb_wrap ul.depth2 > li > a:hover {
            font-weight: 700;
        }
        /* 1차메뉴에 오버해서 하위메뉴가 나타나는 스타일 */
        header .gnb .gnb_wrap ul.depth1 > li.on > a {
            color: #DE6E6A;
        }
        header .gnb .gnb_wrap ul.depth1 > li.on:has(.depth2) > a::after {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16.216' height='10' viewBox='0 0 16.216 10'%3E%3Cpath id='chevron_right_24dp_FILL0_wght400_GRAD0_opsz24' d='M326.216-711.892,320-718.108,321.892-720,330-711.892l-8.108,8.108L320-705.676Z' transform='translate(720 330) rotate(-90)' fill='%23fff'/%3E%3C/svg%3E%0A");
        }
        header .gnb .gnb_wrap ul.depth1 > li.on > ul.depth2 {
            display: block;
        }
        
}    
@media screen and (min-width:1025px) and (max-width:1300px) {
    header .gnb .gnb_wrap .depth1 > li > a {
        padding: 0 16px;
    }
}
header .tnb {
    display: flex;
    gap: 10px;
}
header .tnb .search {
    width: 83px;
    height: 28px;
    border: 2px solid #fff;
    border-radius: 14px; 
    /* 좌우 라운드를 많이 줄 때 높이의 절반을 줌 */
}
header .tnb .btn_open {
    display: none;
}
header .tnb .search .search_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px 4px 0 13px;
}
header .tnb .search .search_box label {
    display: none; /* 숨김 */
}
header .tnb .search .search_box input[type="text"] {
    width: calc(100% - 20px);
    height: 22px;
    border: 0;
    background-color: transparent;
    outline: 0; /* focus되었을 때 테두리 */
}
header .tnb .search .search_box input[type="text"]::placeholder {
    color: rgba(255,255,255,0.6);
}
header .tnb .search .search_box input[type="submit"] {
    width: 14px;
    height: 14px;
    font-size: 0;
    line-height: 0;
    background-color: transparent;
    border: 0;
    /* 종료태그가 없는 input은 before/after 안됨 */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14'%3E%3Cpath id='search_24dp_FILL0_wght300_GRAD0_opsz24' d='M149.3-810.609l-5.114-5.116a4.638,4.638,0,0,1-1.4.79,4.82,4.82,0,0,1-1.643.285,4.811,4.811,0,0,1-3.534-1.445,4.808,4.808,0,0,1-1.446-3.534,4.812,4.812,0,0,1,1.446-3.534,4.806,4.806,0,0,1,3.533-1.446,4.81,4.81,0,0,1,3.534,1.446,4.806,4.806,0,0,1,1.447,3.533,4.775,4.775,0,0,1-.293,1.667,4.653,4.653,0,0,1-.781,1.381l5.114,5.114Zm-8.162-5.263a3.627,3.627,0,0,0,2.666-1.091,3.631,3.631,0,0,0,1.093-2.667,3.628,3.628,0,0,0-1.093-2.666,3.628,3.628,0,0,0-2.666-1.093,3.628,3.628,0,0,0-2.666,1.093,3.629,3.629,0,0,0-1.092,2.666,3.631,3.631,0,0,0,1.092,2.667A3.627,3.627,0,0,0,141.14-815.872Z' transform='translate(-136.16 824.609)' fill='%23fff'/%3E%3C/svg%3E%0A");
}
header .tnb .link a {
    width: 78px;
    height: 28px;
    border: 2px solid #fff;
    border-radius: 14px;
    display: block;
    padding: 3px 0 0 13px;
    position: relative;
}
header .tnb .link a:hover {
    background-color: #DE6E6A;
    border-color: #DE6E6A;
}
header .tnb .link a::after {
    position: absolute;
    right: 6px;
    top: 7px;
    width: 10px;
    height: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10'%3E%3Cpath id='open_in_new_24dp_FILL0_wght300_GRAD0_opsz24' d='M141.063-810a1.027,1.027,0,0,1-.755-.309,1.025,1.025,0,0,1-.309-.754v-7.874a1.022,1.022,0,0,1,.309-.754,1.022,1.022,0,0,1,.755-.31h3.71v.883h-3.71a.168.168,0,0,0-.125.057.17.17,0,0,0-.057.124v7.874a.174.174,0,0,0,.057.124.176.176,0,0,0,.125.057h7.873a.176.176,0,0,0,.125-.057.175.175,0,0,0,.057-.124v-3.711H150v3.711a1.026,1.026,0,0,1-.309.754,1.028,1.028,0,0,1-.755.309Zm2.595-3.038-.62-.62,5.459-5.459h-2.321V-820H150v3.823h-.882v-2.32Z' transform='translate(-140 820)' fill='%23fff'/%3E%3C/svg%3E%0A");
    content: "";
}
/* header가 상단에 고정되었을 때 */
header.fixed,
header.fixed.menu_over {  
    position: fixed;
    background-color: #1d1d1d;
}
@media screen and (max-width:1300px) {
    
}
@media screen and (max-width:1024px) {
    /* 모바일 메뉴 스타일 */
    header .gnb .gnb_wrap {
        display: none;
        position: absolute; /* header를 중심으로 정렬 */
        left: 0;
        top: 0;
        z-index: 110;
        width: 100%;
        height: 100vh;
        /* vh라는 단위는 브라우저 높이를 100으로 보는 단위
            감싸는 요소의 넓이는 고려하지 않음 */
        background-color: #fff;
        color: #1d1d1d;
    }
    header .gnb .gnb_wrap ul.depth1 {
        margin: 72px 20px 20px 20px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        font-size: 20px;
        line-height: 2.5;
        font-weight: 700;
    }
    header .gnb .gnb_wrap ul.depth2 {
        background-color: #EBECF1;
        padding: 15px;
        border-radius: 10px;
    }
    header .gnb .gnb_wrap ul.depth2 > li > a {
        font-size: 15px;
        color: #3d3d3d;
        font-weight: 700;
        line-height: 2.5;
    }
    header .gnb .gnb_open,
    header .gnb .gnb_close  {
        position: absolute; /* header를 중심으로 정렬 */
        right: 0;
        top: 0;
        z-index: 120;
        display: block; /* 숨긴거 보임 */
        width: 64px;
        height: 100%; /* header 높이만큼 */
        font-size: 0;
        line-height: 0;
    }
    header .gnb .gnb_open::before,
    header .gnb .gnb_close::before {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 32px;
        height: 22px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31.605' height='21.07' viewBox='0 0 31.605 21.07'%3E%3Cpath id='menu_24dp_FILL0_wght400_GRAD0_opsz24' d='M120-698.929v-3.514h31.6v3.514Zm0-8.779v-3.513h31.6v3.513Zm0-8.78V-720h31.6v3.51Z' transform='translate(-120 719.999)' fill='%23fff'/%3E%3C/svg%3E%0A");
        content: "";
    }
    header .gnb .gnb_close::before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9.73' height='6' viewBox='0 0 9.73 6'%3E%3Cpath id='chevron_right_24dp_FILL0_wght400_GRAD0_opsz24' d='M323.73-715.135l-3.73-3.73L321.135-720,326-715.135l-4.865,4.865L320-711.406Z' transform='translate(-710.27 -320) rotate(90)' fill='%231d1d1d'/%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_close {
        display: none;
    }
    header .tnb {
        margin-right: 45px;
    }
    /* 메뉴가 열렸을 때 */
    header.mobile_open .gnb .gnb_wrap {
        display: block; /* 보이기 */
    }
    header.mobile_open .gnb .gnb_close {
        display: block; /* 보이기 */
    }
    header.mobile_open .gnb .gnb_open {
        display: none; /* 숨김 */
    }
}
@media screen and (max-width:768px) {
    header .wrapper {
        height: 50px;
    }
    header .logo a {
        width: 120px;
        height: 34px;
    }
    header .gnb .gnb_open::before {
        width: 21px;
        height: 14px;
    }
    header .tnb .btn_open {
        display: block;
        width: 18px;
        height: 18px;
        font-size: 0;
        line-height: 0;
        position: relative; /* before 정렬의 기준 */
    }
    header .tnb .btn_open::before {
        position: absolute;
        left: 5px;
        top: 0;
        width: 100%;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18'%3E%3Cpath id='search_24dp_FILL0_wght300_GRAD0_opsz24' d='M153.057-806.608l-6.576-6.577a5.951,5.951,0,0,1-1.806,1.015,6.186,6.186,0,0,1-2.112.367,6.185,6.185,0,0,1-4.543-1.858,6.182,6.182,0,0,1-1.859-4.544,6.186,6.186,0,0,1,1.859-4.544,6.179,6.179,0,0,1,4.543-1.858,6.184,6.184,0,0,1,4.544,1.858,6.18,6.18,0,0,1,1.86,4.543,6.135,6.135,0,0,1-.377,2.143,5.974,5.974,0,0,1-1,1.775l6.576,6.576Zm-10.494-6.767a4.659,4.659,0,0,0,3.428-1.4,4.662,4.662,0,0,0,1.4-3.428,4.666,4.666,0,0,0-1.4-3.428,4.667,4.667,0,0,0-3.428-1.405,4.667,4.667,0,0,0-3.428,1.405,4.667,4.667,0,0,0-1.4,3.428,4.662,4.662,0,0,0,1.4,3.428A4.658,4.658,0,0,0,142.563-813.375Z' transform='translate(-136.16 824.608)' fill='%23fff'/%3E%3C/svg%3E%0A");
        content: "";
    }
    header .tnb .search {
        display: none; /* 모바일 숨김 */
    }
    header .tnb .link {
        display: none; /* 모바일 숨김 */
    }
}

.visual h2 {
    display: none;
}
.visual ul li {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.visual ul li .wrapper {
    height: 886px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.visual ul li.bg1 {
    background-image: url(../images/visual_1.png);
}
.visual ul li.bg2 {
    background-image: url(../images/visual_2.png);
}
.visual ul li.bg3 {
    background-image: url(../images/visual_3.png);
}
.visual ul li.bg4 {
    background-image: url(../images/visual_4.png);
}
.visual ul li p {
    font-family:'DNFBitBitv2';
    font-size: 80px;
    line-height: 1.2;
}
.visual {
    position: relative;
}
.visual .btn_wrap {
    position: absolute; /* swiper를 기준으로 정렬 */
    left: 50%; /* 정렬의 기준 swiper 넓이의 왼쪽 절반부터 시작 */
    transform: translate(-50%, 0);
    /* btn_wrap 자신의 넓이의 절반을 왼쪽으로 이동 -50% */
    bottom: 20px;
    z-index: 10;
    display: flex;
    gap: 7px;
}
.visual .btn_wrap button {
    font-size: 0;
    line-height: 0;
    width: 40px;
    height: 40px;
    position: relative; /* before 정렬의 기준 */
}
.visual .btn_wrap button::before {
    position: absolute; /* button */
    left: 0;
    top: 0;
    width: 100%; /* button사이즈를 기준으로 100% */
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    content: "";
}
.visual .btn_wrap button.btn_prev::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cpath id='expand_circle_down_24dp_FILL0_wght300_GRAD0_opsz24' d='M120-833.381l8.725-8.725-2.251-2.2L120-837.83l-6.474-6.474-2.251,2.2ZM120-820a19.484,19.484,0,0,1-7.8-1.575,20.2,20.2,0,0,1-6.352-4.274,20.2,20.2,0,0,1-4.276-6.349A19.467,19.467,0,0,1,100-840a19.484,19.484,0,0,1,1.575-7.8,20.2,20.2,0,0,1,4.274-6.352,20.2,20.2,0,0,1,6.349-4.276A19.466,19.466,0,0,1,120-860a19.482,19.482,0,0,1,7.8,1.575,20.2,20.2,0,0,1,6.352,4.274,20.2,20.2,0,0,1,4.276,6.349A19.466,19.466,0,0,1,140-840a19.484,19.484,0,0,1-1.575,7.8,20.2,20.2,0,0,1-4.274,6.352,20.2,20.2,0,0,1-6.349,4.276A19.466,19.466,0,0,1,120-820Zm0-3.158a16.255,16.255,0,0,0,11.947-4.895A16.255,16.255,0,0,0,136.842-840a16.255,16.255,0,0,0-4.895-11.947A16.255,16.255,0,0,0,120-856.842a16.255,16.255,0,0,0-11.947,4.895A16.255,16.255,0,0,0,103.158-840a16.255,16.255,0,0,0,4.895,11.948A16.255,16.255,0,0,0,120-823.158ZM120-840Z' transform='translate(-820 -100) rotate(90)' fill='%23fff'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_next::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cpath id='expand_circle_down_24dp_FILL0_wght300_GRAD0_opsz24' d='M120-833.381l8.725-8.725-2.251-2.2L120-837.83l-6.474-6.474-2.251,2.2ZM120-820a19.484,19.484,0,0,1-7.8-1.575,20.2,20.2,0,0,1-6.352-4.274,20.2,20.2,0,0,1-4.276-6.349A19.467,19.467,0,0,1,100-840a19.484,19.484,0,0,1,1.575-7.8,20.2,20.2,0,0,1,4.274-6.352,20.2,20.2,0,0,1,6.349-4.276A19.466,19.466,0,0,1,120-860a19.482,19.482,0,0,1,7.8,1.575,20.2,20.2,0,0,1,6.352,4.274,20.2,20.2,0,0,1,4.276,6.349A19.466,19.466,0,0,1,140-840a19.484,19.484,0,0,1-1.575,7.8,20.2,20.2,0,0,1-4.274,6.352,20.2,20.2,0,0,1-6.349,4.276A19.466,19.466,0,0,1,120-820Zm0-3.158a16.255,16.255,0,0,0,11.947-4.895A16.255,16.255,0,0,0,136.842-840a16.255,16.255,0,0,0-4.895-11.947A16.255,16.255,0,0,0,120-856.842a16.255,16.255,0,0,0-11.947,4.895A16.255,16.255,0,0,0,103.158-840a16.255,16.255,0,0,0,4.895,11.948A16.255,16.255,0,0,0,120-823.158ZM120-840Z' transform='translate(860 140) rotate(-90)' fill='%23fff'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_stop::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cpath id='pause_circle_24dp_FILL0_wght300_GRAD0_opsz24' d='M114.535-832.105h3.157v-15.789h-3.157Zm7.773,0h3.157v-15.789h-3.157ZM120-820a19.484,19.484,0,0,1-7.8-1.575,20.2,20.2,0,0,1-6.352-4.274,20.2,20.2,0,0,1-4.276-6.349A19.467,19.467,0,0,1,100-840a19.484,19.484,0,0,1,1.575-7.8,20.2,20.2,0,0,1,4.274-6.352,20.2,20.2,0,0,1,6.349-4.276A19.466,19.466,0,0,1,120-860a19.482,19.482,0,0,1,7.8,1.575,20.2,20.2,0,0,1,6.352,4.274,20.2,20.2,0,0,1,4.276,6.349A19.466,19.466,0,0,1,140-840a19.484,19.484,0,0,1-1.575,7.8,20.2,20.2,0,0,1-4.274,6.352,20.2,20.2,0,0,1-6.349,4.276A19.466,19.466,0,0,1,120-820Zm0-3.158a16.255,16.255,0,0,0,11.947-4.895A16.255,16.255,0,0,0,136.842-840a16.255,16.255,0,0,0-4.895-11.947A16.255,16.255,0,0,0,120-856.842a16.255,16.255,0,0,0-11.947,4.895A16.255,16.255,0,0,0,103.158-840a16.255,16.255,0,0,0,4.895,11.948A16.255,16.255,0,0,0,120-823.158ZM120-840Z' transform='translate(-100 860)' fill='%23fff'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_play::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cpath id='play_circle_24dp_FILL0_wght300_GRAD0_opsz24' d='M115.263-831.5,128.5-840l-13.239-8.5ZM120-820a19.484,19.484,0,0,1-7.8-1.575,20.2,20.2,0,0,1-6.352-4.274,20.2,20.2,0,0,1-4.276-6.349A19.467,19.467,0,0,1,100-840a19.484,19.484,0,0,1,1.575-7.8,20.2,20.2,0,0,1,4.274-6.352,20.2,20.2,0,0,1,6.349-4.276A19.466,19.466,0,0,1,120-860a19.482,19.482,0,0,1,7.8,1.575,20.2,20.2,0,0,1,6.352,4.274,20.2,20.2,0,0,1,4.276,6.349A19.466,19.466,0,0,1,140-840a19.484,19.484,0,0,1-1.575,7.8,20.2,20.2,0,0,1-4.274,6.352,20.2,20.2,0,0,1-6.349,4.276A19.466,19.466,0,0,1,120-820Zm0-3.158a16.255,16.255,0,0,0,11.947-4.895A16.255,16.255,0,0,0,136.842-840a16.255,16.255,0,0,0-4.895-11.947A16.255,16.255,0,0,0,120-856.842a16.255,16.255,0,0,0-11.947,4.895A16.255,16.255,0,0,0,103.158-840a16.255,16.255,0,0,0,4.895,11.948A16.255,16.255,0,0,0,120-823.158ZM120-840Z' transform='translate(-100 860)' fill='%23fff'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_play {
    display: none; /* 숨김 */
}

@media screen and (max-width:1024px) {
    .visual ul li .wrapper {
        height: 620px;
        padding-bottom: 60px;
    }
    .visual ul li p {
        font-size: 55px;
    }
}
@media screen and (max-width:768px) {
    .visual ul li .wrapper {
        height: 400px;
        padding-bottom: 30px;
    }
    .visual ul li p {
        font-size: 40px;
    }
    .visual .btn_wrap {
        display: none;
    }
}
@media screen and (max-width:640px) {
    .visual ul li .wrapper {
        height: 360px;
        padding-bottom: 20px;
    }
    .visual ul li p {
        font-size: 30px;
    }
}

footer {
    margin-top: 1000px;
}