/* 글자의 스타일은 상속받음. 기본글자의 스타일은
모든 태그를 감싸는 html body에 선언
폰트를 여러개를 선언 - 첫번째 폰트를 1순위로 선언, 만약 지원이 안되면 2순위 폰트를 지원
영문만 지원하는 폰트를 1순위, 2순위로 한글이 지원되는 서체를 선언
영문, 숫자, 특수문자는 영문 폰트가 적용 나머지는 한글 폰트 적용 
*/
html, body {
    font-family: 'S-Core','Cafe24', "Malgun Gothic", "맑은 고딕", Dotum, 돋움 ;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0em; /* 자간 */
    line-height: 1.4; /* 배수 - 글자크기의 1.4배 */
    color: #3d3d3d; /* 글자 색상 */
    word-break: break-all; /* 단어별로 줄바꿈 */
    word-wrap: break-word; /* 만약 단어가 엄청 길면 줄바꿈 강제로 실행 */
}
/* 홈페이지 전체를 감싸는 요소 - 가로 스크롤바가 생겼을 때 배경이 짤리는 현상을 막음 */
#wrap {
    min-width: 1260px;
    overflow: hidden;
}
/* 홈페이지의 넓이를 제한하고 가운데정렬 */
.wrapper {
    width: 1260px;
    margin: 0 auto; /* 가운데정렬 */
}
@media screen and (max-width:1540px) {
    .wrapper {
        width: auto;
        margin: 0 110px; /* 좌우에 20px */
    }
}
/* 1260px 나의 wrapper의 넓이의 좌우 여백 20px씩 추가한 사이즈부터 반응함 */
@media screen and (max-width:1300px) {
    #wrap {
        min-width: 100%
    }  
}/* media */
@media screen and (max-width:1024px) {
    html, body {
        font-size: 14px;
    }
    .wrapper {
        width: auto;
        margin: 0 20px; /* 좌우에 20px */
    }
}
@media screen and (max-width:768px) { /* 모바일 반응형 */
    html, body {
        font-size: 13px;
    }
}/*media*/

::selection {
    background-color: #6A88BE;
    color: #fff;
}

/*
    기본 16px
    52px - 3.25rem
    40px - 2.5rem
    28px - 1.75rem
    22px - 1.375rem
    18px - 1.125rem
    15px - 0.938rem
    13px - 0.813rem
    
*/

:root {
    --color-blue: #C9D9F0;
    --color-deepblue: #013C5A;
    --color-red: #D42545;
    --txt-color-tit: #1d1d1d;
    --txt-color-txt: #3d3d3d;
    --txt-color-gray: #666;
    --txt-tit-size: 2.5rem;
    --txt-sale-size: 1.75rem;
    --txt-subtit-size: 0.813rem;
}

@media screen and (max-width:1300px) {
    :root {}
}
@media screen and (max-width:1024px) {
    :root {
        --txt-tit-size: 2.375rem;
        --txt-sale-size: 1.375rem;
    }
}
@media screen and (max-width:768px) {
    :root {
        --txt-tit-size: 1.75rem;
        --txt-subtit-size: 0.688rem;
        --txt-sale-size: 1rem;
    }
}