.skip_nav {
    position: absolute;
    left: 0;
    top: -100px;
    z-index: 9999999999;
    width: 100%;
}
.skip_nav a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #6A88BE;
    color: #fff;
    text-align: center;
}
.skip_nav a:focus {
    top: 100px;
}

.header_top {
    height: 40px;
    background-color: var(--color-blue);
}
.header_top .wrapper {
   display: flex;
   justify-content: space-between;
}
.header_top .sns ul {
    display: flex;  
}
.header_top .sns ul li a {
    font-size: 0;
    line-height: 0;
    position: relative;
}
.header_top .sns ul li a::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
}
.header_top .sns ul li.insta a::before {

}
.header_top .sns ul li.naver a::before {

}
.header_top .sns ul li.kakao a::before {

}

.header_top .tnb ul {
    padding-top: 12px;
    display: flex;
    font-size: 0.813rem;
    color: var(--color-deepblue);
}
.header_top .tnb ul li a {
    margin-left: 25px;
}

.header_sub .gnb_wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.header_sub .gnb_wrap ul.depth1 {
    display: flex;
    align-items: center;
}
.header_sub .gnb_wrap ul.depth1 li {
    margin-right: 35px;
}
.header_sub .gnb_wrap ul.depth2 {
    display: flex;
    align-items: center;
}
.header_sub .gnb_wrap ul.depth2 li a {
    margin: 0 20px 0 10px;
    font-size: 0;
    line-height: 0;
    position: relative;
}
.header_sub .gnb_wrap ul.depth2 li a::before {
    position: absolute;
    left: -10px;
    top: -17px;
    width: 24px;
    height: 24px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
}
.header_sub .gnb_wrap ul.depth2 li.my_page a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 12C10.9 12 9.95833 11.6083 9.175 10.825C8.39167 10.0417 8 9.1 8 8C8 6.9 8.39167 5.95833 9.175 5.175C9.95833 4.39167 10.9 4 12 4C13.1 4 14.0417 4.39167 14.825 5.175C15.6083 5.95833 16 6.9 16 8C16 9.1 15.6083 10.0417 14.825 10.825C14.0417 11.6083 13.1 12 12 12ZM4 20V17.2C4 16.6333 4.14583 16.1125 4.4375 15.6375C4.72917 15.1625 5.11667 14.8 5.6 14.55C6.63333 14.0333 7.68333 13.6458 8.75 13.3875C9.81667 13.1292 10.9 13 12 13C13.1 13 14.1833 13.1292 15.25 13.3875C16.3167 13.6458 17.3667 14.0333 18.4 14.55C18.8833 14.8 19.2708 15.1625 19.5625 15.6375C19.8542 16.1125 20 16.6333 20 17.2V20H4ZM6 18H18V17.2C18 17.0167 17.9542 16.85 17.8625 16.7C17.7708 16.55 17.65 16.4333 17.5 16.35C16.6 15.9 15.6917 15.5625 14.775 15.3375C13.8583 15.1125 12.9333 15 12 15C11.0667 15 10.1417 15.1125 9.225 15.3375C8.30833 15.5625 7.4 15.9 6.5 16.35C6.35 16.4333 6.22917 16.55 6.1375 16.7C6.04583 16.85 6 17.0167 6 17.2V18ZM12 10C12.55 10 13.0208 9.80417 13.4125 9.4125C13.8042 9.02083 14 8.55 14 8C14 7.45 13.8042 6.97917 13.4125 6.5875C13.0208 6.19583 12.55 6 12 6C11.45 6 10.9792 6.19583 10.5875 6.5875C10.1958 6.97917 10 7.45 10 8C10 8.55 10.1958 9.02083 10.5875 9.4125C10.9792 9.80417 11.45 10 12 10Z' fill='%23013C5A'/%3E%3C/svg%3E%0A");
} 
.header_sub .gnb_wrap ul.depth2 li.cart a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 22C6.45 22 5.97917 21.8042 5.5875 21.4125C5.19583 21.0208 5 20.55 5 20C5 19.45 5.19583 18.9792 5.5875 18.5875C5.97917 18.1958 6.45 18 7 18C7.55 18 8.02083 18.1958 8.4125 18.5875C8.80417 18.9792 9 19.45 9 20C9 20.55 8.80417 21.0208 8.4125 21.4125C8.02083 21.8042 7.55 22 7 22ZM17 22C16.45 22 15.9792 21.8042 15.5875 21.4125C15.1958 21.0208 15 20.55 15 20C15 19.45 15.1958 18.9792 15.5875 18.5875C15.9792 18.1958 16.45 18 17 18C17.55 18 18.0208 18.1958 18.4125 18.5875C18.8042 18.9792 19 19.45 19 20C19 20.55 18.8042 21.0208 18.4125 21.4125C18.0208 21.8042 17.55 22 17 22ZM6.15 6L8.55 11H15.55L18.3 6H6.15ZM5.2 4H19.95C20.3333 4 20.625 4.17083 20.825 4.5125C21.025 4.85417 21.0333 5.2 20.85 5.55L17.3 11.95C17.1167 12.2833 16.8708 12.5417 16.5625 12.725C16.2542 12.9083 15.9167 13 15.55 13H8.1L7 15H19V17H7C6.25 17 5.68333 16.6708 5.3 16.0125C4.91667 15.3542 4.9 14.7 5.25 14.05L6.6 11.6L3 4H1V2H4.25L5.2 4Z' fill='%23013C5A'/%3E%3C/svg%3E%0A");
}

.gnb_search_box{
    position: relative;
    width: 214px;
}

.gnb_search_box input {
    width: 100%;
    background-color: var(--color-blue);
    border: transparent;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
}
.gnb_search_box img {
    position : absolute;
    width: 24px;
    height: 24px;
    top: 9px;
    right: 10px;
    margin: 0;
  }
