@import url(default.css);
@import url(fonts.css);
@import url(common.css); 
@import url(layout.css); 

.visual ul li {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.visual ul li .wrapper {
    height: 524px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}
.visual ul li.bg1 {
    background-image: url(../images/main/visual_01.png);
}
.visual ul li.bg2 {
    background-image: url(../images/main/visual_02.png);
}
.visual ul li.bg3 {
    background-image: url(../images/main/visual_03.png);
}
.visual ul li strong {
    font-size: 2rem;
    font-family: 'Laundry';
    font-weight: 400;
    color: #fff;
}
.visual ul li p {
    font-size: 3.25rem;
    font-family: 'Laundry';
    font-weight: 700;
    color: #fff;
}
@media screen and (max-width:768px) {
    .visual ul li strong {
        font-size: 1.563rem;
    }
    .visual ul li p {
        font-size: 2.625rem;
    }
}

.content .content_list {
    display: flex;
    justify-content: space-between;
    gap: 28px;
    margin: 50px 0 83px 0;
    font-size: 1.125rem;
}
.content .content_list ul li {
    width: 90px;
}
.content .content_list figure {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #EEEEEE;
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;
}
.content .content_list li.another figure {
    background-color: var(--color-blue);
}
.content .content_list figure img {
    width: 60px;
    height: 60px;
}
.content .content_list span {
    display: block;
    text-align: center;
    margin-top: 12px;
    font-weight: 700;
    color: #1d1d1d;
}

@media screen and (max-width:768px) {
    .content .content_list {
        gap: 12px;
    }
}   

.new em {
    font-weight: 700;
    font-size: 0.813rem;
    color: var(--color-deepblue);
}
.new .tit {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.new .tit h2{
    font-size: 2.5rem;
    font-weight: 300;
    color: #1d1d1d;
    line-height: 1;
}
.new .tit .more a {
    font-size: 0.938rem;
    color: #666;
    position: relative;
    margin-right: 15px;
}
.new .tit .more a::before {
    position: absolute;
    left: 45px;
    top: 5px;
    width: 12px;
    height: 12px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_26_1454)'%3E%3Cpath d='M5.5 6.5H0V5.5H5.5V0H6.5V5.5H12V6.5H6.5V12H5.5V6.5Z' fill='%235F6368'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_26_1454'%3E%3Crect width='12' height='12' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    content: "";
}
.new .list {
    margin: 30px 0 83px 0;
}
.new .list .swiper-slide {
    width: 297px;
    height: 100%;
    position: relative;
}
.new .list .swiper-wrapper {
    transition-duration: 0ms;
    transform: translate3d(-1206.5px, 0px, 0px);
}
.new .list .photo {
    height: 297px;
}
.new .list .photo img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.new .list .info {
    margin-top: 5px;
}
.new .list .info strong {
    font-size: 0.813rem;
    color: #767676;
}
.new .list .info p {
    color: #1d1d1d;
}
.new .list .info p:hover {
    text-decoration: underline;
}
.new .list .info span {
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--color-deepblue);
}
.new .btn {
    display: flex;
    justify-content: space-between;
    position: relative;
    font-size: 0;
    line-height: 0;
}
.new .btn .btn_prev::before,
.new .btn .btn_next::before {
    position: absolute;
    top: -380px;
    width: 27px;
    height: 116px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
}
.new .btn .btn_prev::before {
    left: -70px;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='118' viewBox='0 0 30 118' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29 1L2 57.3662L29 117' stroke='%231D1D1D' stroke-width='2'/%3E%3C/svg%3E%0A");
}
.new .btn .btn_next::before {
    right: -70px;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='118' viewBox='0 0 30 118' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L28 57.3662L1 117' stroke='%231D1D1D' stroke-width='2'/%3E%3C/svg%3E%0A");
}
@media screen and (max-width:768px) {
    .new em {
        display: block;
        font-weight: 700;
        font-size: 1.125rem;
        text-align: center;
    }
    .new .tit {
        display: block;
    }
    .new .tit h2{
        font-size: 2.5rem;
        font-weight: 300;
        color: #1d1d1d;
        line-height: 1;
        text-align: center;
    }
    .new .tit .more a {
        display: block;
        font-size: 1.375rem;
        font-weight: 700;
        margin-right: 0;
        color: var(--color-deepblue);
        text-align: right;
    }
    .new .tit .more a::before {
        display: none;
    }
    .new .list {
        margin: 10px 0 83px 0;
    }
    .new .list .swiper-slide {
        width: 164px;
    }
    .new .list .photo {
        height: 164px;
    }
    .new .list .photo img {
        border-radius: 15px;
    }
    .new .list .info p {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .new .list .info span {
        font-size: 1.375rem;
        font-weight: 700;
        color: var(--color-deepblue);
    }
    .new .btn {
        display: none;
    }
}

.event .inner {
    display: flex;
    margin-bottom: 150px;
}
.event .popup_l,
.event .popup_r {
    width: 100vh;
    height: auto;
}
.event .popup_l img,
.event .popup_r img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
@media screen and (max-width:768px) {
    .event .inner {
        display: block;
        margin-bottom: 80px;
    }
    .event .popup_l,
    .event .popup_r {
        width: 100%;
        height: 100%;
    }
}
.sale em {
    font-weight: 700;
    font-size: 0.813rem;
    color: var(--color-deepblue);
}
.sale .tit {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.sale .tit h2{
    font-size: 2.5rem;
    font-weight: 300;
    color: #1d1d1d;
    line-height: 1;
}
.sale .tit .more a {
    font-size: 0.938rem;
    color: #666;
    position: relative;
    margin-right: 15px;
}
.sale .tit .more a::before {
    position: absolute;
    left: 45px;
    top: 5px;
    width: 12px;
    height: 12px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_26_1454)'%3E%3Cpath d='M5.5 6.5H0V5.5H5.5V0H6.5V5.5H12V6.5H6.5V12H5.5V6.5Z' fill='%235F6368'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_26_1454'%3E%3Crect width='12' height='12' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    content: "";
}
.sale .list {
    margin: 30px 0 130px 0;
}
.sale .list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.sale .list ul li .photo {
    position: relative;
}
.sale .list ul li .photo img {
    border-radius: 20px;
}
.sale .list ul li .photo span {
    position: absolute;
    top: 0;
    left: 0;
    padding: 12px 24px 12px 24px;
    background-color: var(--color-red);
    border-radius: 20px 0 0 0;
    color: #fff;
    font-weight: 700;
    font-size: 1.125rem;
}
.sale .list ul li .info {
    margin: 16px 0 30px 0;
    line-height: 1;
}
.sale .list ul li .info p {
    color: #1d1d1d;
    margin-bottom: 5px;
}
.sale .list ul li .info p:hover {
    text-decoration: underline;
}
.sale .list ul li .info .price {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}
.sale .list ul li .info .price .real {
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--color-red);
    margin-right: 5px;
}
.sale .list ul li .info .price .dc {
    color: #666;
    font-size: 0.938rem;
    text-decoration: line-through;
}

@media screen and (max-width:768px) {
    .sale em {
        display: block;
        font-weight: 700;
        font-size: 1.125rem;
        text-align: center;
    }
    .sale .tit {
        display: block;
    }
    .sale .tit h2{
        font-size: 2.5rem;
        font-weight: 300;
        color: #1d1d1d;
        line-height: 1;
        text-align: center;
    }
    .sale .tit .more a {
        display: block;
        font-size: 1.375rem;
        font-weight: 700;
        margin-right: 0;
        color: var(--color-deepblue);
        text-align: right;
    }
    .sale .tit .more a::before {
        display: none;
    }
    .sale .list {
        margin: 10px 0 80px 0; 
    }
    .sale .list ul {
        display: flex;
        justify-content: space-between;
    }
    .sale .list ul li {
        width: 49%;
    }
    .sale .list ul li .photo img {
        width: 100%;
    }  
    .sale .list ul li .photo span {
        padding: 6px 12px;
        color: #fff;
        font-size: 0.938rem;
    }

}

.md {
    background-color: #DCE9EF;
}
.md .tit {
    text-align: center;
    padding-top: 100px;
    margin-bottom: 30px;
}
.md strong {
    font-weight: 700;
    font-size: 0.813rem;
    color: var(--color-deepblue);
}
.md .tit h2{
    font-size: 2.5rem;
    font-weight: 300;
    color: #1d1d1d;
    line-height: 1;
}
.md ul {
    display: flex;
    justify-content: space-between;
    padding-bottom: 150px;
}
.md ul li {
    background-color: #fff;
    border-radius: 20px;
}
.md ul li .box_txt,
.md ul li .list .item  {
    padding: 0 20px 0 20px;
}
.md ul li > figure {
    width: 392px;
    height: 350px;
}
.md ul li > figure img{
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 100%;
}
.md ul li .box_txt .brand {
    display: inline-block;
    font-size: 0.938rem;
    color: #fff;
    padding: 5px 12px;
    margin: 20px 0 20px 0;
    background-color: var(--color-deepblue);
    border-radius: 20px;
}
.md ul li .box_txt .txt_tit {
    font-size: 1.375rem;
    font-weight: 700;
    color: #1d1d1d;
}
.md ul li .box_txt > a {
    display: block;
    font-size: 0.813rem;
    margin: 30px 0 50px 0;
    position: relative;
}
.md ul li .box_txt > a::before {
    position: absolute;
    left: 65px;
    top: 3px;
    width: 12px;
    height: 12px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.47049 6L2.5 1.23339L3.26475 0.5L9 6L3.26475 11.5L2.5 10.7666L7.47049 6Z' fill='%23666666'/%3E%3C/svg%3E%0A");
    content: "";
}

.md ul li .list {
    padding-bottom: 26px;
    position: relative;
}
.md ul li .list::before {
    position: absolute;
    top: -27px;
    left: 0;
    width: 100%;
    border: 1px solid #ededed;
    content: "";
}
.md ul li .list .item {
    display: flex;
    align-items: center;
    gap: 15px;
}
.md ul li .list .item figure img {
    border-radius: 10px;
}
.md ul li .list .item p:hover {
    text-decoration: underline;
}
.md ul li .list .item .real {
    font-size: 1.125rem;
    font-weight: 700;
    color: #1d1d1d;
}
.md ul li .list .item .dc {
    font-size: 0.813rem;
    color: #666;
    text-decoration: line-through;
}

@media screen and (max-width:768px) {
    .md .tit {
        padding-top: 80px;
        margin-bottom: 30px;
    }
    .md strong {
        font-size: 1.125rem;
    }
    .md .tit .more a {
        font-size: 0.938rem;
        color: #666;
        position: relative;
        margin-right: 15px;
    }
    .md .tit .more a::before {
        position: absolute;
        left: 45px;
        top: 5px;
        width: 12px;
        height: 12px;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_26_1454)'%3E%3Cpath d='M5.5 6.5H0V5.5H5.5V0H6.5V5.5H12V6.5H6.5V12H5.5V6.5Z' fill='%235F6368'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_26_1454'%3E%3Crect width='12' height='12' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        content: "";
    }
    .md ul  {
        display: flex;
        justify-content: center;
        padding-bottom: 150px;
        flex-wrap: wrap;
    }
    .md ul.recommend_box li {
        border-radius: 20px;
        width: 80%;
        height: 100%;
        margin-bottom: 35px;
    }
    .md ul li .box_txt,
    .md ul li .list .item  {
        padding: 0 12px 0 12px;
    }
    .md ul li > figure {
        width: 100%;
        height: 10%;
    }
    .md ul li > figure img {
        object-fit: cover;
    }
    
    .md ul li .box_txt .brand {
        margin: 15px 0 10px 0;
    }
    .md ul li .box_txt .txt_tit {
        font-size: 1.25rem;
    }
    .md ul li .box_txt > a {
        font-size: 0.813rem;
        margin: 20px 0 40px 0;
    }
}

.community {
    margin: 150px 0 ;
}
.community .wrapper {
    display: flex;
    justify-content: space-between;
}
.community .wrapper .list {
    position: relative;
}
.community .wrapper .list::before {
    position: absolute;
    top: -25px;
    left: 0;
    width: 100%;
    border: 1px solid #666;
    content: "";
}
.community .head {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.community .head h2 {
    color: #1d1d1d;
    font-size: 1.375rem;
    font-weight: 700;
}
.community .head a {
    color: #666;
    font-size: 0.813rem;
    margin-right: 12px;
    position: relative;
}
.community .head a::before {
    position: absolute;
    left: 40px;
    top: 4px;
    width: 10px;
    height: 10px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_26_1454)'%3E%3Cpath d='M5.5 6.5H0V5.5H5.5V0H6.5V5.5H12V6.5H6.5V12H5.5V6.5Z' fill='%235F6368'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_26_1454'%3E%3Crect width='12' height='12' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    content: "";
}
.community .notice {
    margin-right: 68px;
    width: 295px;
}
.community .notice .list {
    margin-top: 30px;
}
.community .notice ul.list li {
    margin: 20px 0 30px 0
}
.community .notice ul.list li:last-child {
    margin: 0;
}
.community .notice ul.list li .date {
    font-size: 0.813rem;
    color: #666;
}
.community .notice ul.list li p:hover {
    text-decoration: underline;
}
.community .review .list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-top: 30px;
}
.community .review ul.list li {
    width: 283px;
}
.community .review ul.list li p {
    font-size: 0.938rem;
    line-height: 1.4;
    height: 2.8em;
    overflow: hidden;
    margin: 15px 0 10px 0;
}
.community .review ul.list li em,
.community .review ul.list li span {
    font-size: 0.813rem;
    color: #888;
}

@media screen and (max-width:768px) {
    .community {
        margin: 100px 0 ;
    }
    .community .wrapper {
        display: block;
    }
    .community .wrapper .list {
        position: relative;
    }
    .community .wrapper .list::before {
        position: absolute;
        top: -25px;
        left: 0;
        width: 100%;
        border: 1px solid #666;
        content: "";
    }
    .community .head {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    .community .head h2 {
        color: #1d1d1d;
        font-size: 1.375rem;
        font-weight: 700;
    }
    .community .head a {
        color: #666;
        font-size: 0.813rem;
        margin-right: 12px;
        position: relative;
    }
    .community .head a::before {
        position: absolute;
        left: 40px;
        top: 4px;
        width: 10px;
        height: 10px;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_26_1454)'%3E%3Cpath d='M5.5 6.5H0V5.5H5.5V0H6.5V5.5H12V6.5H6.5V12H5.5V6.5Z' fill='%235F6368'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_26_1454'%3E%3Crect width='12' height='12' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        content: "";
    }
    .community .notice {
        margin:0 0 50px 0;
        width: 100%;
    }
    .community .notice ul.list li {
        display: flex;
    }
    .community .notice ul.list li .date {
        margin-right: 12px;
    }
    .community .review .list {
        display: flex;
        justify-content: space-between;
        gap: 12px;
        margin-top: 30px;
    }
    .community .review ul.list li {
        width: 33%;
    }
    .community .review ul.list li figure img {
        width: 100%;
        height: 100%;
    }

}
