@import url(default.css);
@import url(fonts.css);
@import url(common.css);

/* 폰트 2개... 제목에는 gmarket / 본문 pretendard -- body에는 본문서체 적용
    제목 서체 적용하는 방법
            1.css에서 해당 요소를 모두 선택해서 .biz h2 이렇게 각각 불러서
        gmarket 서체 적용 (font-family를 계속 선언해야 함) 
            2.css를 하나 만들어둠
        예를 들어 .tit 라고
        html에서 gemarket 서체를 써야하는 html요소에
        <section class="biz">
            <h2 class="tit"></h2> --필요한 곳에 class명을 주는 방식
        </section>
*/
.tit {
    font-family: 'GmarketSans' , sans-serif; /* sans-serif 고딕 */
    font-weight: 500;
    line-height: 1.2;
}
.tit_b {
    font-family: 'GmarketSans' , sans-serif; /* sans-serif 고딕 */
    font-weight: 700;
    line-height: 1.2;
}

header {
    position: absolute; /* body를 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: 100;
    /* position을 가지고 있는 요소 중에서 제일 높은 숫자를 줘서 위에 배치
        잘못하면 메뉴 안눌림 */
    width: 100%;
    height: 100px;
    color: #fff;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
}
header .logo {
    margin: 16px 0 0 0;
}
header .gnb .gnb_open {
    /* 모바일에서만 나타남 - pc에서는 숨김 */
    display: none;
}
header .gnb .gnb_wrap ul {
    display: flex;
}
header .gnb .gnb_wrap ul li a {
    padding: 38px 38px;
    display: block; 
    font-size: 20px;
    position: relative; /* after 정렬의 기준 */
}
header .gnb .gnb_wrap ul li a::after {
    position: absolute; /* a를 기준으로 배치 */
    right: 0;
    top: 49px;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.5);
    content: ""; /* after를 보이게 하는 값 */
}
/* 마지막 li의 a의 after 선택자를 숨김 */
header .gnb .gnb_wrap ul li:last-child a::after {
    display: none;
}
@media screen and (max-width:640px) {
    header {
        height: 50px;
    }
    header .logo {
        margin: 16px 0 0 0;
    }
    header .logo img {
        width: 99px;
        /* 이미지태그로 코딩한 요소는 사이즈가 변경되면
            반드시 css에서 img태그를 불러서 스타일을 줘야함
            감싸는 요소를 줘도 적용안됨
            이미지는 넒이만 주면 높이는 알아서 조정됨 */ 
    }
    header .gnb .gnb_open {
        /* 모바일에서만 나타남
            -이미 header에 position값이 존재함 - header를 기준으로 정렬 */
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 64px;
        height: 50px;
        /* button의 사이즈를 크게 줘서 잘 눌리게 하려고 */
        font-size: 0;
        line-height: 0; /* 글자 숨기기 */
        background: url(../images/gnb_open.svg) no-repeat center center;
    }
    header .gnb .gnb_wrap {
        display: none; /* 메뉴는 열기 버튼을 클릭했을 때만 나옴 */
    }
}

.visual {
    background: url(../images/visual_bg.png) no-repeat center center / cover;
    color: #fff;
    height: 850px;
}
.visual strong {
    display: block; 
    font-family: 'Pretendard', sans-serif;
    padding: 405px 0 0 0;
}
.visual h2 {
    font-size: 45px;
    margin: 5px 0 0 0;
}
@media screen and (max-width:640px) {
    .visual {
        height: auto; /* 높이는 콘텐츠 길이에 맞춰 알아서 */
        padding: 170px 0 170px 0;
    }
    .visual strong {
        display: none; /* 숨김 */
    }
    .visual h2 {
        font-size: 25px;
    }
}

.biz {
    margin: 100px 0 0 0;
}
.biz .wrapper {
    display: flex;
    justify-content: space-between;
    /* flex로 정렬하면 좌우요소의 길이가 같아짐
        하지만 구현을 위해서 존재하는 만큼만 길이가 잡혀야 함
        align-items를 주면 flex로 정렬된 요소들의
        길이가 같아지는 현상이 사라짐 */
    align-items: flex-start;
}
.biz .subject {
    position: sticky;
    top: 24px;
    /* 나를 감싸는 요소의 길이 내부에서 스크롤 되는 동안
        상단에 고정으로 존재하는 것. 
        감싸는 요소가 모두 스크롤 되면 따라서 스크롤 됨
        대부분 left 잘 안주고 toop만 줌
        고정된 때 상단의 여백이 됨
        단점 : 감싸는 요소중에서 절대 속성으로 overflow:hidden;을 주면 안됨
        --wrap한테 무조건 overflow:hidden; 줘야함.
        --그래서 플러그인으로 대체해서 잘 사용함. */
    margin: 18px  0 0 0;
}
.biz .subject h2 {
    font-size: 45px;
    color: #1d1d1d;
}
.biz .subject strong {
    font-size: 45px;
    color: #1d1d1d;
}
.biz .subject p {
    color: #0C7B94;
}
.biz .list {
    width: 832px;
}
.biz .list ul {
    display: flex;
    flex-wrap: wrap; /* 두 줄 허용 */
    gap: 24px;
}
.biz .list ul li {
    width: 404px;
    color: #fff;
    border-radius: 20px;
    overflow: hidden;
}
.biz .list ul li:nth-child(odd) { /* 홀수 */
    transform: translate(0,100px);
    /* transform은 현재의 위치에서부터 요소를 움직이는데
    살짝 absolute처럼 다른 요소와 부딪치더라도 배치 할 수 있음
    margine은 다른 요소와 중복되면 밀리는 현상이 발생하는데
    transform: translate로 움직이는 것은 공간을 차지하지 않음
    기본적으로 모든 여백은 margine이고 margine으로 안되는 경우
    transform: translate을 사용 */
}     
.biz .list ul li a {
    height: 404px;
    display: block; /* height을 적용 */
    position: relative; /* h3 정렬의 기준 */
}
.biz .list ul li a .photo::before {
    display: none;
    position: absolute; /* a를 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(12,123,148,0.8);
    content: ""; /* before을 존재하게 하는 값 */
}
.biz .list ul li a:hover .photo::before { /* a에 오버했을 때 */
    display: block;
}
.biz .list ul li a h3 {
    position: absolute; /* a를 기준으로 정렬 */
    left: 30px;
    bottom: 40px;
    font-size: 25px;
}
.biz .list ul li a:hover h3 { /* 오버시에 */
    bottom: 92px;
}
.biz .list ul li a p {
    /* 마우스 오버에만 보임
        -미리 오버 스타일 모두 가지고 있고, display로
        보이는 상태만 조절하는 것이 좋음 */
    display: none;
    position: absolute; /* a를 기준으로 */
    left: 0;
    bottom: 53px;
    margin: 0 30px;
}
.biz .list ul li a:hover p {
    display: block;
}
.biz .list ul li a .more {
    display: none; 
    position: absolute; /* a를 기준으로 */
    left: 0;
    bottom: 30px;
    margin: 0 0 0 30px;
    color: rgba(255,255,255,0.8);
    padding-right: 73px; /* 오른쪽에 아이콘 들어갈 여백 */
}
.biz .list ul li a:hover .more {
    display: block;
}
.biz .list ul li a .more::after {
    position: absolute; /* more를 기준으로 정렬 */
    right: 0;
    top: 0;
    width: 10px;
    right: 10px;
    background: url(../images/biz_more.svg) no-repeat center center / contain;
    content: ""; /* after를 보이게 하는 값 */
}

@media screen and (max-width:640px) {
    .biz {
        margin: 45px 0 0 0;
    }
    .biz .wrapper {
        display: block;
    }
    .biz .subject {
        position: relative; 
        /* sticky를 해제하기 위해서 position중에서 줘도 크게 변화가 없는 값으로 대체 */
        top: auto; /* relative도 top이 적용됨. 해제 auto */
        margin: 0;
    }
    .biz .subject h2 {
        font-size: 25px;
    }
    .biz .subject strong {
        font-size: 25px;
    }
    .biz .subject p {
        font-size: 13px;
        margin: 0 0 25px;
    }
    .biz .list {
        width: auto; /* 넓이 고정값 해제 */
    }
    .biz .list ul {
        gap: 16px;
    }
    .biz .list ul li {
        width: calc(50% - 8px);
        color: #1d1d1d;
        border-radius: 0;
        overflow: visible; 
        /* overflow 해제 - 길이만큼 늘어나게
            모바일에서 사이즈가 줄어들면 제목이 2줄이 될 수도 있음 */
    }
    .biz .list ul li:nth-child(odd) { /* 홀수 */
        transform: translate(0,0);
    }     
    .biz .list ul li a {
        height: auto; /* 제목이 여러줄이 될 수도 있음 */
    }
    .biz .list ul li a:hover .photo::before {
        display: none;
        /* 모바일 마우스 오버가 없음
            단, 꾹 누르고 있으면 오버가 구현됨
            오버 스타일을 삭제하거나 제대로 구현되도록 해야함 */
    }
    .biz .list ul li a .photo {
        height: 130px;
        overflow: hidden;
    }
    .biz .list ul li a .photo img {
        /* pc와 오바일에서 이미지의 비율이 다르게 보일 때
        img태그로 코딩한 이미지를 정해진 영역에 맞게
        사이즈를 리사이즈 */
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .biz .list ul li a h3 {
        position: relative; /* absolute 해제 */
        left: auto;
        bottom: auto;
        font-size: 14px;
        text-align: center;
        margin: 5px 0 20px 0;
    }
    .biz .list ul li a:hover h3 { /* 오버시에 */
        bottom: auto;
    }
    .biz .list ul li a:hover p {
        display: none; 
    }
    .biz .list ul li a:hover .more {
        display: none;
    }
}

.news {
    background-color: #EDEDED;
    margin: 200px 0 0 0;
    padding: 100px 0 120px 0;
}
.news .subject {
    color: #0C7B94;
}
.news .subject h3 {
    color: #1d1d1d;
    font-size: 45px;
    margin: 4px 0 45px 0;
}
.news .list ul {
    display: flex;
    justify-content: space-between;
}
.news .list ul li {
    width: 297px;
}
.news .list ul li a {
    border-top: 2px solid #3d3d3d;
    display: block; /* border를 주기 위해 */
}
.news .list ul li h3 {
    color: #1d1d1d;
    font-size: 20px;
    margin: 15px 0 20px 0;
    font-weight: 700;
    /* 무조건 두 줄 - 절대 padding주면 안됨.. */
    line-height: 1.2;
    height: 2.4em; /* 행간*줄 수 */
    overflow: hidden;
    /* 1줄
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; */
}
.news .list ul li p {
    /* 무조건 3줄 */
    line-height: 1.2;
    height: 3.6em;
    overflow: hidden;
}
.news .list ul li .date {
    color: #ababab;
    margin: 18px 0 0 0;
    display: block; /* margine 적용 */
}
.news .list ul li a:hover {
    color: #0C7B94;
    border-top-color:#0C7B94 ;
}
.news .list ul li a:hover h3 {
    color: #0C7B94;
}
.news .list ul li a:hover .date {
    color: #0C7B94;
}
.news .wrapper {
    position: relative; /* more 정렬의 기준 */
}
.news .more {
    position: absolute; 
    right: 0;
    top: 80px;
    color: #ababab; 
}
.news .more a {
    display: block;
    padding: 5px 30px 5px 8px;
    border-radius: 25px;
    border: 1px solid #ababab;
    position: relative; /* after 정렬의 기준 */
}
.news .more a::after {
    position: absolute; /* more를 기준으로 정렬 */
    right: 6px;
    top: 9px;
    width: 10px;
    height: 10px;
    background: url(../images/news_more.svg) no-repeat center center / contain;
    content: ""; /* after를 존재하게 하는 값 */
}
.news .more a:hover {
    background-color: #0C7B94;
    border-color: #0C7B94;
    color: #fff;

}
.news .more a:hover:after {
    background: url(../images/news_morew.svg);
}
@media screen and (max-width:640px) {
    .news {
        background-color: #EDEDED;
        margin: 45px 0 0 0;
        padding: 45px 0 45px 0;
    }
    .news .subject h3 {
        font-size: 25px;
        margin: 5px 0 25px 0;
    }
    .news .list ul {
        display: block; 
        /* flex해제, inline/inline-block/block/none 등 flex말고 다른값을 주면
            flex가 해제 - 그중에 제일 해당 요소에 영향이 없는 block을 줌*/
    }
    .news .list ul li {
        width: auto; 
        /* 넓이 고정한 것 해제 - 원래 해당 태그 스타일대로
            li는 block태그 넓이 100%
            100%를 주면 margine 등의 여백을 줬을 때 사이즈가 늘어날 수 있음 */
    }
    .news .list ul li a {
        border-top: 1px solid #ababab;
    }
    /* 마지막 li의 a */
    .news .list ul li:last-child a {
        border-bottom: 1px solid #ababab;
    }
    .news .list ul li h3 {
        font-size: 15px;
        margin: 10px 0 10px 0;
        /* 1줄로 제한 */
        white-space: nowrap;
        height: auto;
        text-overflow: ellipsis; 
    }
    .news .list ul li p {
        height: 2.4em;
    }
    .news .list ul li .date {
        margin: 10px 0 10px 0;
        text-align: right;
    }
    .news .wrapper {
        position: relative; /* more 정렬의 기준 */
    }
    .news .more {
        position: relative; 
        right: auto;
        top: auto;
        margin: 15px 0 0 0;
        text-align: center;
    }
    .news .more a {
        display: inline-block;
        padding: 5px 30px 5px 8px;
    }
    .news .more a::after {
        top: 7px;
    }
}

.webzine .subject strong {
    color: #0C7B94;
    margin: 100px 0 0 0;
    display: block; /* margine을 적용하기 위해서 */
}
.webzine .subject h2 {
    color: #1d1d1d;
    font-size: 45px;
    margin: 4px 0 45px 0;
}
.webzine .list ul {
    display: flex;
    justify-content: space-between;
}
.webzine .list ul li {
    width: 404px;
}
.webzine .list ul li a {
    height: 381px;
    border-radius: 25px;
    border: 1px solid #ababab;
    display: block; /* height 적용 */
    overflow: hidden;
}
/* 게시판에서 이미지를 가져오는 경우는
이미지의 사이즈가 다양함.
이를 디자인한대로 동일한 사이즈로 리사이즈하는 방법
1.이미지를 감싸는 요소가 넓이와 높이를 가지고 있어야함.
    overflow:hidden;
2.이미지에는 witdh:100%, height:100%, object-fit:cover를 줘야함
*/
.webzine .list ul li a .photo {
    overflow: hidden;
    height: 260px; /* block요소이기 때문에 넓이는 안줘도 됨 */
}
.webzine .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 감싸는 요소에 꽉맞게 리사이즈 - 위아래/좌우 가운데 이미지 정렬 */
    transition: 0.5s; 
    /* 앞으로 img에 어떤 변화가 있으면 그걸 부드럽게 처리
        1.마우스 오버
        2.클래스 추가
        3.브라우저 사이드가 바뀌어서 반응형 코드 적용
    */
}
.webzine .list ul li a strong {
    color: #0C7B94;
    display: block;
    margin: 25px 0 3px 25px;
}
.webzine .list ul li a h3 {
    font-size: 20px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 0 28px 0 25px;
}
/* a에 마우스를 올렸을 때 */
.webzine .list ul li a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1); /* 이미지 확대 */
}
.webzine .list ul li a:hover {
    background-color: #0C7B94;
    border-color: #0C7B94;
    color: #fff;
}
.webzine .list ul li a:hover strong {
    color: #fff;
}
.webzine .list ul li a:hover h3 {
    color: #fff;
}
.webzine .wrapper {
    position: relative; /* more 정렬의 기준 */
}
.webzine .more {
    position: absolute; /* wrapper를 기준으로 정렬 */
    right: 0;
    top: 80px;
}
.webzine .more a {
    padding: 5px 30px 5px 8px;
    border: 1px solid #ababab;
    border-radius: 25px; /* 높이의 절반 */
    color: #ababab;
    display: block; /* padding, border 적용을 위한 값 */
    position: relative; /* after 정렬의 기준 */
}
.webzine .more a::after {
    position: absolute; /* a를 기준으로 정렬 */
    right: 6px;
    top: 9px;
    width: 10px;
    height: 10px;
    background: url(../images/news_more.svg) no-repeat center center / contain;
    content: ""; /* after를 보이게 하는 값 */
}
.webzine .more a:hover {
    background-color: #0C7B94;
    border-color: #0C7B94;
    color: #fff;
}
.webzine .more a:hover::after {
    background: url(../images/news_morew.svg);
}

@media screen and (max-width:640px) {
    .webzine .subject strong {
        font-size: 13px;
        margin: 45px 0 0 0;
    }
    .webzine .subject h2 {
        font-size: 25px;
        margin: 4px 0 25px 0;
    }
    .webzine .list ul li {
        width: 100%;
    }
    .webzine .list ul li:nth-child(2),
    .webzine .list ul li:nth-child(3){
        display: none;
        /* 해당 태그가 존재하지 않았던 것 처럼 사라짐
            공간 차지 x */
    }
    .webzine .list ul li a {
        height: auto;
        border-radius: 0;
        border: 0;
    }
    .webzine .list ul li a .photo {
        height: 206px;
    }
    .webzine .list ul li a .photo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* 감싸는 요소에 꽉맞게 리사이즈 - 위아래/좌우 가운데 이미지 정렬 */
        transition: 0.5s; 
    }
    .webzine .list ul li a strong {
        font-size: 13px;
        margin: 10px 0 3px 0;
    }
    .webzine .list ul li a h3 {
        font-size: 15px;
        margin: 0;
        /* 두 줄 제한 */
        line-height: 1.3;
        height: 2.6em;
        overflow: hidden;
    }
    /* a에 마우스를 올렸을 때 */
    .webzine .list ul li a:hover {
        background-color: transparent; /* 투명 */
        color: #1d1d1d;
    }
    .webzine .list ul li a:hover strong {
        color: #0C7B94;
    }
    .webzine .list ul li a:hover h3 {
        color: #1d1d1d;
    }
    .webzine .more {
        position: relative; /* absolute 해제*/
        right: auto; /* absolute 해제*/
        top: auto;
        margin: 15px 0 0 0;
        text-align: center;
    }
    .webzine .more a {
        display: inline-block;
    }
    .webzine .more a::after {
        position: absolute; /* a를 기준으로 정렬 */
        right: 6px;
        top: 9px;
        width: 10px;
        height: 10px;
        background: url(../images/news_more.svg) no-repeat center center / contain;
        content: ""; /* after를 보이게 하는 값 */
    }
}

.introduce {
    background-color: #ededed;
    padding: 100px 0 100px 0;
    margin: 100px 0 0 0;
}
.introduce .list ul {
    display: flex;
    justify-content: space-between;
}
.introduce .list ul li {
    width: 618px;
}
.introduce .list ul li a {
    display: block;
    color: #fff;
    height: 220px;
    padding: 134px 30px 0 30px;
    border-radius: 25px;
}
.introduce .list ul li a p {
    margin: 5px 0 0 0;
}
.introduce .list ul li.intro1 a {
    background: url(../images/introduce_1.png) no-repeat center center / cover; 
}
.introduce .list ul li.intro2 a {
    background: url(../images/introduce_2.png) no-repeat center center / cover;
}
.introduce .list ul li a .tit_b {
    font-size: 25px;
}

@media screen and (max-width:640px) {
    .introduce {
        background-color: transparent;
        padding: 0;
        margin: 45px 0 0 0;
    }
    .introduce .wrapper {
        margin: 0;
    }
    .introduce .list ul {
        display: block;
    }
    .introduce .list ul li {
        width: auto;
    }
    .introduce .list ul li a {
        display: block;
        height: 130px;
        padding: 88px 20px 0 20px;
        border-radius: 0;
    }
    .introduce .list ul li.intro2 a h3 {
        text-align: right;
    }
    .introduce .list ul li a p {
        display: none;
    }
    .introduce .list ul li a .tit_b {
        font-size: 20px;
    }
}
    
footer {
    background-color: #2d2d2d;
    padding: 60px 0 75px 0;
    color: rgba(255,255,255,0.8);
}
footer .wrapper {
    position: relative; /* top 정렬의 기준 */
}
footer .top {
    position: absolute;
    right: 0;
    top: -20px;
}
footer .top button {
    width: 60px;
    height: 60px;
    border: 1px solid rgba(255,255,255,0.8);
    border-radius: 50%; /* 동그라미 */
    padding: 15px 0 0 0;
    position: relative; /* before 정렬의 기준 */
}
footer .top button::before {
    position: absolute;
    left: 17px;
    top: 8px;
    width: 24px;
    height: 24px;
    background: url(../images/top.svg) no-repeat center center / contain;
    content: "";
}
footer .f_nav ul {
    display: flex;
    gap: 38px;
}
footer .f_nav ul li {
    position: relative; /* after 정렬의 기준 */
}
footer .f_nav ul li::after {
    position: absolute; /* li를 기준으로 정렬 */
    right: -20px;
    top: 3px;
    width: 1px;
    height: 11px;
    background-color: rgba(255,255,255,0.2);
    content: "";
}
footer .f_nav ul li:last-child:after {
    display: none;
}
footer .f_info {
    margin: 20px 0 0 0;
    display: flex;
    gap: 38px;
}
footer .copy {
    margin: 5px 0 0 0;
    color: rgba(255,255,255,0.4);
}

@media screen and (max-width:640px) {
    footer {
        padding: 11px 0 43px 0;
    }
    footer .top {
        position: relative;
        right: auto;
        top: auto;
        text-align: right;
        font-size: 13px;
        margin: 0 0 4px 0;
    }
    footer .top button {
        width: 40px;
        height: 40px;
        padding: 15px 0 0 0;
    }
    footer .top button::before {
        left: 10px;
        top: 3px;
        width: 20px;
        height: 20px;
    }
    footer .f_nav ul {
        flex-wrap: wrap; /* 두 줄 허용 */
        gap: 0;
    }
    footer .f_nav ul li {
       margin: 0 30px 5px 0;
    }
    footer .f_nav ul li::after {
        position: absolute; /* li를 기준으로 정렬 */
        right: -16px;
        height: 8px;
    }
    footer .f_nav ul li:last-child:after {
        display: none;
    }
    footer .f_info {
        margin: 20px 0 0 0;
        flex-wrap: wrap;
        gap: 0;
    }
}