@import url(default.css);
@import url(fonts.css);
@import url(common.css); 
@import url(layout.css); 

/*
    플러그인을 사용할 때 이미 적용되어 있는 css를 변경하려면
    1. 동일한 이름에 앞에 body태그 선택자를 추가하는 방법
        strong
        body strong -- 이 경우 body strong이 우선순위가 높음
    2. 속성값에 뒤에 !important를 추가
        적용 우선순위가 1순위가 됨
        (important는 해제가 어려움, 모바일에서도 적용됨)
*/

.fp_nav {
    position: fixed;
    left: 4%;
    top: 50%;
    transform: translate(-50%);
    z-index: 99;
}
.fp_nav ul li a {
    display: block;
    color: rgba(255, 255, 255, 0.8);
    line-height: 1;
    white-space: nowrap; /* 줄바꿈 금지 */
    padding: 6px;
    position: relative; /* before 정렬의 기준 */
}
.fp_nav ul li a::before {
    position: absolute;
    left: -5px;
    top: 10px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    content: "";
}
.fp_nav ul li.active a,
.fp_nav ul li a:hover {
    color: var(--color-green);
    font-weight: 700;
}
.fp_nav ul li.active a::before,
.fp_nav ul li a:hover::before {
    background-color:var(--color-green);
}
/* 흰배경에서 */
.fp_nav.dark ul li a {
    color: var(--txt-color-gray);
}
.fp_nav.dark ul li a::before {
    background-color: var(--txt-color-gray);
}
.fp_nav.dark ul li.active a,
.fp_nav.dark ul li a:hover {
    color: var(--color-green);
    font-weight: 700;
}
.fp_nav.dark ul li.active a::before,
.fp_nav.dark ul li a:hover::before {
    background-color:var(--color-green);
}
.fp-table {
    display: block;
}
.quick_menu {
    position: fixed;
    right: 0;
    top: 25%;
    transform: translate(-50%);
    /* 위아래 가운데 */
    z-index: 99;
}
.quick_menu ul li {
    margin-bottom: 10px;
}
.quick_menu ul li a,
.quick_menu ul li button {
    display: block;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    color: #fff;
    background-color: var(--color-green);
    text-align: center;
    padding-top: 50px;
    position: relative;
}
.quick_menu ul li button {
    background-color: var(--color-deepblue);
    padding-top: 35px;
}
.quick_menu ul li a::before,
.quick_menu ul li button::before {
    position: absolute;
    left: 0;
    top: 15px;
    width: 100%;
    height: 32px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
}
.quick_menu ul li.quick1 a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='32' viewBox='0 0 24 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_12_66)'%3E%3Cpath d='M14.5487 32.0001C14.177 32.0001 13.8584 31.6806 13.8584 31.3079V21.2447C13.8584 20.872 14.177 20.5525 14.5487 20.5525C14.9203 20.5525 15.2389 20.872 15.2389 21.2447V31.3079C15.2389 31.6806 14.9203 32.0001 14.5487 32.0001Z' fill='white'/%3E%3Cpath d='M9.23909 31.9999C8.86741 31.9999 8.54883 31.6805 8.54883 31.3078V21.564C8.54883 21.1913 8.86741 20.8718 9.23909 20.8718C9.61077 20.8718 9.92936 21.1913 9.92936 21.564V31.3078C9.92936 31.6805 9.61077 31.9999 9.23909 31.9999Z' fill='white'/%3E%3Cpath d='M11.5752 22.6822C10.6726 22.6822 9.82301 22.5225 9.02655 22.203C7.32743 21.5108 5.9469 20.1797 5.20354 18.4759C2.17699 17.6772 0 14.9085 0 11.7138C0 10.1165 0.530973 8.57238 1.53982 7.34775C2.44248 6.22962 3.61062 5.43095 4.99115 5.00499C5.41593 3.67388 6.21239 2.44925 7.32743 1.54409C8.54867 0.585691 10.0885 0 11.6814 0C14.708 0 17.3628 1.97005 18.3186 4.79201C21.5575 5.43095 24 8.30616 24 11.6606C24 13.4176 23.3628 15.1215 22.1416 16.3993C21.0796 17.5707 19.5929 18.3694 18.0531 18.5824C17.4159 19.9667 16.354 21.0849 15.0265 21.8303C13.8584 22.416 12.6903 22.6822 11.5752 22.6822ZM11.5752 1.38436C8.97345 1.38436 6.69027 3.14143 6.10619 5.69717C6.0531 5.96339 5.84071 6.12313 5.62832 6.17637C3.07965 6.81531 1.32743 9.05158 1.32743 11.6606C1.32743 14.2696 3.23894 16.6656 5.84071 17.198C6.0531 17.2512 6.26549 17.411 6.31858 17.624C6.84956 19.1148 8.0708 20.3394 9.50442 20.9251C10.1416 21.1913 10.885 21.2978 11.5752 21.2978C12.531 21.2978 13.4336 21.0849 14.2301 20.6057C15.3982 19.9667 16.3009 18.9551 16.8319 17.6772C16.9381 17.4642 17.1504 17.3045 17.4159 17.2512C20.3363 16.985 22.5664 14.589 22.5664 11.6073C22.5664 8.78536 20.4425 6.33611 17.6283 6.01664C17.3628 5.96339 17.1504 5.80366 17.0442 5.53744C16.354 3.14143 14.1239 1.38436 11.5752 1.38436Z' fill='white'/%3E%3Cpath d='M17.894 32.0001H5.9471C5.57542 32.0001 5.25684 31.6806 5.25684 31.3079C5.25684 30.9352 5.57542 30.6157 5.9471 30.6157H17.894C18.2657 30.6157 18.5843 30.9352 18.5843 31.3079C18.5312 31.6806 18.2126 32.0001 17.894 32.0001Z' fill='white'/%3E%3Cpath d='M12.5311 10.0633C12.2126 10.0633 11.894 9.79705 11.894 9.47758C11.8409 9.10487 12.1064 8.7854 12.478 8.73216C16.3011 8.19971 17.0444 5.32451 17.0444 5.27126C17.1506 4.89855 17.4692 4.68557 17.8409 4.79206C18.2126 4.89855 18.4249 5.21802 18.3188 5.59073C18.3188 5.64397 18.0533 6.60238 17.2568 7.61402C16.5134 8.51918 15.1329 9.69056 12.6373 10.0633C12.6373 10.01 12.5842 10.0633 12.5311 10.0633Z' fill='white'/%3E%3Cpath d='M5.94666 12.7254C5.78737 12.7254 5.57498 12.6722 5.46878 12.5125C3.66348 10.6489 4.67232 5.96338 4.83162 5.43093C4.93781 5.05822 5.2564 4.84524 5.62808 4.95173C5.99976 5.05822 6.21215 5.37769 6.10595 5.7504C5.73427 7.45422 5.46878 10.5957 6.42454 11.6073C6.69002 11.8735 6.69002 12.2995 6.42454 12.5657C6.26524 12.6189 6.10595 12.7254 5.94666 12.7254Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_12_66'%3E%3Crect width='24' height='32' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.quick_menu ul li.quick2 a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_12_101)'%3E%3Cpath d='M4.79201 9.01249H0.519135C0.239601 9.01249 0 8.77269 0 8.49292V2.01832C0 1.73855 0.239601 1.49875 0.519135 1.49875H14.5358V0.499584C14.5358 0.339717 14.6156 0.139883 14.7754 0.05995C14.9351 -0.0199833 15.1348 -0.0199833 15.2945 0.05995L23.7205 5.05579C23.8802 5.13572 23.9601 5.33555 23.9601 5.49542C23.9601 5.69525 23.8403 5.85512 23.6805 5.93505L19.0882 8.41299C18.8486 8.53289 18.5291 8.45296 18.4093 8.21315C18.2895 7.97335 18.3694 7.65362 18.609 7.53372L22.4027 5.49542L15.5341 1.41882V2.01832C15.5341 2.29808 15.2945 2.53788 15.015 2.53788H0.998336V8.01332H4.79201C5.07155 8.01332 5.31115 8.25312 5.31115 8.53289C5.27121 8.81266 5.07155 9.01249 4.79201 9.01249Z' fill='white'/%3E%3Cpath d='M8.94509 24C8.86522 24 8.78536 24 8.70549 23.96L0.279534 19.4438C0.1198 19.3639 0 19.204 0 19.0042C0 18.8043 0.0798669 18.6445 0.239601 18.5645L4.95175 15.8068C5.19135 15.647 5.51082 15.7269 5.63062 15.9667C5.79035 16.2065 5.71048 16.5262 5.47088 16.6461L1.51747 18.9642L8.42596 22.6411V22.0017C8.42596 21.7219 8.66556 21.4821 8.94509 21.4821H22.9617V16.0067H19.1681C18.8885 16.0067 18.6489 15.7669 18.6489 15.4871C18.6489 15.2073 18.8885 14.9675 19.1681 14.9675H23.4809C23.7604 14.9675 24 15.2073 24 15.4871V22.0017C24 22.2814 23.7604 22.5212 23.4809 22.5212H9.42429V23.5204C9.42429 23.6803 9.34443 23.8401 9.18469 23.96C9.10483 23.96 9.02496 24 8.94509 24Z' fill='white'/%3E%3Cpath d='M11.9799 20.5229C10.5024 20.5229 9.0648 20.1232 7.78693 19.4038C6.549 18.7244 5.51073 17.6852 4.75199 16.4862C3.91339 15.1274 3.47412 13.5687 3.47412 12.01C3.47412 10.731 3.75366 9.45211 4.31272 8.29307C4.99159 6.89424 6.0698 5.69524 7.3876 4.81597C8.74534 3.9367 10.3427 3.49707 11.94 3.49707C13.5373 3.49707 14.935 3.89674 16.2129 4.6561C17.4508 5.3755 18.529 6.45461 19.2478 7.69357C20.0066 8.97251 20.4059 10.4912 20.4059 12.01C20.4059 13.3289 20.1264 14.5678 19.5274 15.7269C18.8485 17.1257 17.7703 18.3247 16.4525 19.164C15.1746 20.0433 13.6172 20.5229 11.9799 20.5229ZM11.9799 4.5362C9.14467 4.5362 6.46913 6.21481 5.23119 8.77267C4.75199 9.81181 4.47246 10.8909 4.47246 12.0499C4.47246 13.4488 4.87179 14.8076 5.59059 16.0066C6.98826 18.2048 9.34434 19.5237 11.94 19.5237C14.8152 19.5237 17.4109 17.925 18.6488 15.3272C19.168 14.2881 19.4076 13.209 19.4076 12.0499C19.4076 10.731 19.0482 9.41214 18.3693 8.25311C17.0914 5.93504 14.6156 4.5362 11.9799 4.5362Z' fill='white'/%3E%3Cpath d='M11.9801 17.0058C11.7005 17.0058 11.4609 16.766 11.4609 16.4862V11.0108C11.4609 10.731 11.7005 10.4912 11.9801 10.4912C12.2596 10.4912 12.4992 10.731 12.4992 11.0108V16.5262C12.4992 16.766 12.2596 17.0058 11.9801 17.0058Z' fill='white'/%3E%3Cpath d='M13.4177 12.6895C12.8986 12.6895 12.4194 12.5296 12.1398 12.2099C11.8204 11.8902 11.6606 11.4106 11.6606 10.931C11.6606 10.1316 12.06 9.41223 12.6989 9.05253C13.1781 8.77276 14.2164 8.65286 14.9751 8.57293C15.1748 8.57293 15.2946 8.53296 15.2946 8.53296C15.4543 8.53296 15.5741 8.57293 15.6939 8.69283C15.8137 8.81273 15.8537 8.93263 15.8537 9.09249C15.8537 9.09249 15.8537 9.25236 15.8137 9.45219C15.6939 10.5313 15.5342 11.2907 15.3345 11.6504C14.9352 12.2898 14.2164 12.6895 13.4177 12.6895ZM14.7355 9.57209C13.857 9.69199 13.3378 9.81189 13.1781 9.89183C12.7788 10.1316 12.659 10.5313 12.659 10.891C12.659 11.1308 12.7388 11.3706 12.8586 11.4905C12.9784 11.6104 13.218 11.6903 13.4576 11.6903C13.7771 11.6903 14.2164 11.5305 14.456 11.1708C14.5359 10.9709 14.6557 10.4514 14.7355 9.57209Z' fill='white'/%3E%3Cpath d='M10.4624 12.6894C9.66374 12.6894 8.94494 12.2898 8.58554 11.6503C8.22614 11.0108 8.10634 9.37219 8.06641 9.05245C8.06641 8.89259 8.10634 8.77269 8.22614 8.65279C8.34594 8.53289 8.46574 8.49292 8.62547 8.49292C8.94494 8.53289 10.5423 8.65279 11.2211 9.01249C11.7802 9.33222 12.1396 9.89175 12.2594 10.5712C12.3393 11.2107 12.1796 11.8102 11.7802 12.1699C11.4607 12.4896 10.9815 12.6894 10.4624 12.6894ZM9.10468 9.57202C9.18454 10.2115 9.30434 10.8909 9.42414 11.1307C9.66374 11.5304 10.0631 11.6503 10.4225 11.6503C10.6621 11.6503 10.9017 11.5704 11.0215 11.4505C11.1413 11.3306 11.2611 11.0508 11.1812 10.6911C11.1413 10.5312 11.0614 10.0916 10.6621 9.89175C10.4624 9.77185 9.74361 9.65195 9.10468 9.57202Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_12_101'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.quick_menu ul li.quick3 a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_12_98)'%3E%3Cpath d='M24 9.52824V3.54817C24 1.63455 22.4433 0.0398671 20.4926 0.0398671C18.5419 0.0398671 16.9852 1.59468 16.9852 3.54817V9.52824C16.9852 11.2824 18.3015 12.7575 19.9764 12.9967V22.9635H12.5596V12.9568C14.2345 12.7176 15.5507 11.2425 15.5507 9.48837V3.50831C15.5507 1.59468 13.9941 0 12.0433 0C10.0926 0 8.53596 1.55482 8.53596 3.50831V9.48837C8.53596 11.2425 9.85222 12.7176 11.5271 12.9568V22.9635H4.06699V12.9568C5.74187 12.7176 7.05813 11.2425 7.05813 9.48837V3.50831C7.05419 1.59468 5.50148 0 3.5468 0C1.59212 0 0.0394089 1.55482 0.0394089 3.50831V9.48837C0.0394089 11.2425 1.35566 12.7176 3.03054 12.9568V22.9635H0.516256C0.236453 22.9635 0 23.2027 0 23.4817C0 23.7608 0.240394 24 0.516256 24H23.4404C23.7202 24 23.9566 23.7608 23.9566 23.4817C23.9566 23.2027 23.7163 22.9635 23.4404 22.9635H21.0089V12.9568C22.6837 12.7176 24 11.2824 24 9.52824ZM9.56847 9.52824V3.54817C9.56847 2.19269 10.6837 1.03654 12.0788 1.03654C13.4739 1.03654 14.5892 2.15282 14.5892 3.54817V9.52824C14.5892 10.7243 13.7103 11.7209 12.5951 11.9601V8.29236L13.8719 7.45515C14.1123 7.29568 14.1517 6.97674 13.9901 6.77741C13.8325 6.53821 13.5133 6.49834 13.3123 6.65781L12.5951 7.13621V6.0598C12.5951 5.78073 12.3547 5.54153 12.0788 5.54153C11.803 5.54153 11.5626 5.78073 11.5626 6.0598V9.60797L10.8453 9.12957C10.6049 8.9701 10.2857 9.04983 10.1675 9.24917C10.0099 9.48837 10.0887 9.80731 10.2857 9.92691L11.5626 10.7641V11.9601C10.4079 11.7209 9.56847 10.7243 9.56847 9.52824ZM1.07586 9.52824V3.54817C1.07586 2.19269 2.19113 1.03654 3.58621 1.03654C4.98128 1.03654 6.09655 2.15282 6.09655 3.54817V9.52824C6.09655 10.7243 5.21773 11.7209 4.10246 11.9601V8.29236L5.37931 7.45515C5.6197 7.29568 5.65911 6.97674 5.49754 6.77741C5.3399 6.53821 5.02069 6.49834 4.8197 6.65781L4.10246 7.13621V6.0598C4.10246 5.78073 3.86207 5.54153 3.58227 5.54153C3.30246 5.54153 3.06601 5.74086 3.06601 6.01993V9.56811L2.34877 9.0897C2.10837 8.93023 1.78916 9.00997 1.67094 9.2093C1.5133 9.44851 1.59212 9.76744 1.78916 9.88704L3.06601 10.7243V11.9203C1.95074 11.7209 1.07192 10.7243 1.07192 9.52824H1.07586ZM18.0177 9.52824V3.54817C18.0177 2.19269 19.133 1.03654 20.5281 1.03654C21.9232 1.03654 23.0384 2.15282 23.0384 3.54817V9.52824C23.0384 10.7243 22.1596 11.7209 21.0443 11.9601V8.29236L22.3212 7.45515C22.5616 7.29568 22.601 6.97674 22.4394 6.77741C22.2818 6.53821 21.9626 6.49834 21.7616 6.65781L21.0049 7.09634V6.01993C21.0049 5.74086 20.7645 5.50166 20.4847 5.50166C20.2049 5.50166 19.9685 5.74086 19.9685 6.01993V9.56811L19.2512 9.0897C19.0108 8.93023 18.6916 9.00997 18.5734 9.2093C18.4552 9.40864 18.4946 9.76744 18.6916 9.88704L19.9685 10.7243V11.9203C18.8926 11.7209 18.0138 10.7243 18.0138 9.52824H18.0177Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_12_98'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.quick_menu ul li.quick4 a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_12_77)'%3E%3Cpath d='M17.4909 17.9981C17.2912 17.9981 17.1315 17.9181 17.0516 17.718C16.9318 17.4779 17.0117 17.1578 17.2513 17.0378C19.9268 15.6773 21.8037 13.6767 22.5624 11.3559C22.802 10.5957 22.9618 9.79539 22.9618 8.99512C22.9618 7.99479 22.7621 6.99445 22.3228 6.03413C21.4443 3.99345 19.6473 2.19285 17.2114 0.952438C16.9718 0.832398 16.852 0.512291 17.0117 0.272211C17.1315 0.0321314 17.451 -0.0879086 17.6906 0.0721447C20.2862 1.39258 22.2829 3.39325 23.2413 5.634C23.7205 6.71436 23.9601 7.83473 23.9601 8.99512C23.9601 9.91543 23.8004 10.7957 23.5208 11.676C22.6423 14.2369 20.6057 16.4776 17.6906 17.9181C17.6107 17.9981 17.5308 17.9981 17.4909 17.9981Z' fill='white'/%3E%3Cpath d='M17.451 17.998C17.3712 17.998 17.2913 17.998 17.2114 17.958C13.298 15.9573 10.9419 12.6362 10.9419 9.035C10.9419 8.63486 10.9818 8.27474 11.0218 7.87461C11.3013 5.95397 12.2198 4.15337 13.6973 2.63286C14.6557 1.63253 15.8537 0.792249 17.2114 0.112022C17.3712 0.0319953 17.5309 0.0319953 17.6906 0.112022C17.8504 0.192049 17.9302 0.352102 17.9302 0.552169V17.0377C17.9302 17.1177 17.8903 17.1977 17.8504 17.2777C17.9302 17.4378 17.9302 17.5979 17.8504 17.7579C17.8104 17.918 17.6507 17.998 17.451 17.998ZM16.9718 1.35244C16.0134 1.91262 15.1748 2.55284 14.456 3.31309C13.0983 4.71356 12.2597 6.31409 12.06 7.99465C12.0201 8.31476 11.9802 8.67488 11.9802 8.99498C11.9802 11.996 13.8171 14.7969 16.9718 16.6375V1.35244Z' fill='white'/%3E%3Cpath d='M17.4908 24C17.2113 24 16.9717 23.76 16.9717 23.4799V16.9977C16.9717 16.7176 17.2113 16.4775 17.4908 16.4775C17.7703 16.4775 18.0099 16.7176 18.0099 16.9977V23.5199C17.97 23.76 17.7304 24 17.4908 24Z' fill='white'/%3E%3Cpath d='M17.4907 7.5145C17.3309 7.5145 17.1712 7.43447 17.0913 7.31443L14.0963 3.3131C13.9366 3.07302 13.9765 2.79292 14.2161 2.59286C14.4557 2.4328 14.7353 2.47282 14.9349 2.7129L17.9299 6.71423C18.0897 6.95431 18.0497 7.23441 17.8101 7.43447C17.6903 7.47449 17.5705 7.5145 17.4907 7.5145Z' fill='white'/%3E%3Cpath d='M17.4911 10.5155C17.3313 10.5155 17.2115 10.4355 17.0917 10.3155C16.932 10.1154 16.9719 9.79528 17.1716 9.59521L22.1633 5.59388C22.3629 5.43382 22.6824 5.47384 22.8821 5.6739C23.0418 5.87397 23.0019 6.19408 22.8022 6.39414L17.7706 10.3955C17.6907 10.4755 17.5709 10.5155 17.4911 10.5155Z' fill='white'/%3E%3Cpath d='M17.4507 12.9964C17.3309 12.9964 17.2111 12.9564 17.1312 12.8764L11.6604 8.39488C11.4607 8.23482 11.4208 7.91472 11.5805 7.67464C11.7402 7.47457 12.0597 7.43456 12.2993 7.59461L17.8101 12.1161C18.0098 12.2762 18.0497 12.5963 17.89 12.8364C17.7702 12.9164 17.6104 12.9964 17.4507 12.9964Z' fill='white'/%3E%3Cpath d='M17.4909 14.9969C17.3312 14.9969 17.1315 14.9169 17.0516 14.7168C16.9318 14.4768 17.0117 14.1567 17.2513 14.0366L22.7621 11.0356C23.0017 10.9156 23.3212 10.9956 23.441 11.2357C23.5608 11.4758 23.4809 11.7959 23.2413 11.9159L17.7305 14.9169C17.6506 14.9969 17.5708 14.9969 17.4909 14.9969Z' fill='white'/%3E%3Cpath d='M8.74549 21.2391C8.70555 21.2391 8.62568 21.2391 8.58575 21.1991C8.30622 21.1191 8.18642 20.839 8.26628 20.5589C8.86529 18.7583 8.78542 16.9977 8.10655 15.5973C7.86695 15.1571 7.58742 14.717 7.22801 14.3969C6.78875 13.9567 6.22968 13.5966 5.63068 13.3565C4.31287 12.8363 2.71553 12.8363 1.07826 13.3565C0.79873 13.4365 0.519195 13.3165 0.439329 13.0364C0.359462 12.7563 0.479262 12.4762 0.758796 12.3962C2.59573 11.796 4.47261 11.796 5.99008 12.3962C6.70888 12.6763 7.38775 13.1164 7.90688 13.6766C8.34615 14.1168 8.70555 14.5969 8.98509 15.1571C9.78376 16.7576 9.86362 18.7983 9.18475 20.879C9.14482 21.1191 8.94515 21.2391 8.74549 21.2391Z' fill='white'/%3E%3Cpath d='M6.14975 21.6792C4.39268 21.6792 2.83527 21.079 1.71714 19.9587C1.51747 19.7586 1.3178 19.5185 1.11814 19.2784C0.399334 18.1981 0 16.9176 0 15.5172C0 14.6369 0.159734 13.7166 0.439268 12.7563C0.479201 12.5962 0.638935 12.4762 0.798669 12.4361C0.958403 12.3961 1.15807 12.4361 1.27787 12.5562L8.86523 20.1587C8.90516 20.1987 8.94509 20.2387 8.94509 20.2788C9.06489 20.3188 9.14476 20.4388 9.18469 20.5589C9.26456 20.8389 9.14476 21.119 8.86523 21.1991C7.94676 21.5192 7.02829 21.6792 6.14975 21.6792ZM1.198 13.8766C1.0782 14.4368 0.998336 14.957 0.998336 15.5172C0.998336 16.7176 1.3178 17.7979 1.95674 18.6782C2.11647 18.8783 2.27621 19.0784 2.43594 19.2384C3.71381 20.5188 5.67055 20.959 7.78702 20.4788L1.198 13.8766Z' fill='white'/%3E%3Cpath d='M11.5007 24.0001C11.3809 24.0001 11.2611 23.9601 11.1413 23.84L8.14633 20.839C7.94667 20.639 7.94667 20.3189 8.14633 20.1188C8.346 19.9187 8.66547 19.9187 8.86513 20.1188L11.8601 23.1198C12.0598 23.3199 12.0598 23.64 11.8601 23.84C11.7403 23.9601 11.6205 24.0001 11.5007 24.0001Z' fill='white'/%3E%3Cpath d='M3.91362 16.3975H3.83375L0.599141 15.9173C0.319607 15.8773 0.11994 15.6372 0.159873 15.3571C0.199807 15.077 0.439407 14.877 0.718942 14.917L3.95355 15.3971C4.23308 15.4371 4.43275 15.6772 4.39282 15.9573C4.35289 16.1974 4.15322 16.3975 3.91362 16.3975Z' fill='white'/%3E%3Cpath d='M5.2714 17.7579H5.23147C4.95193 17.7179 4.75226 17.4778 4.7922 17.1977L5.2714 13.0363C5.31133 12.7562 5.55093 12.5561 5.83047 12.5962C6.11 12.6362 6.30967 12.8763 6.26974 13.1564L5.79053 17.3177C5.7506 17.5978 5.55093 17.7579 5.2714 17.7579Z' fill='white'/%3E%3Cpath d='M1.83683 19.3984C1.59723 19.3984 1.35763 19.1984 1.35763 18.9583C1.31769 18.6782 1.51736 18.4381 1.7969 18.3981L6.38924 17.9179C6.66878 17.8779 6.90838 18.078 6.94831 18.3581C6.98824 18.6382 6.78858 18.8783 6.50904 18.9183L1.9167 19.3984H1.83683Z' fill='white'/%3E%3Cpath d='M7.34773 19.8386C7.3078 19.8386 7.26786 19.8386 7.188 19.7985C6.90846 19.7185 6.78866 19.4384 6.86853 19.1583L8.0266 15.237C8.10646 14.9569 8.386 14.8369 8.66553 14.9169C8.94507 14.9969 9.06487 15.277 8.985 15.5571L7.82693 19.4784C7.787 19.7185 7.58733 19.8386 7.34773 19.8386Z' fill='white'/%3E%3Cpath d='M23.4809 24.0001H0.519135C0.239601 24.0001 0 23.76 0 23.4799C0 23.1998 0.239601 22.9597 0.519135 22.9597H23.4809C23.7604 22.9597 24 23.1998 24 23.4799C23.9601 23.76 23.7205 24.0001 23.4809 24.0001Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_12_77'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}
.quick_menu ul li button::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 20V7.825L5.4 13.425L4 12L12 4L20 12L18.6 13.425L13 7.825V20H11Z' fill='white'/%3E%3C/svg%3E%0A");
}

@media screen and (max-width:1024px) {
    .fp_nav {
        display: none;
    }
    .quick_menu {
        display: none;
    }
}

.section {
    
}
.visual h2 {
    display: none;
}
.visual .swiper {
    width: 100vw;
    height: 100vh;
}
.visual .swiper .swiper-slide {
    height: 100vh;
    background: url(../images/main/popup_bg1.png) no-repeat center center / cover;
    text-align: center;
    color: #fff;
}
.visual .swiper .swiper-slide.popup1 {
    background-image: url(../images/main/popup_bg1.png);
}
.visual .swiper .swiper-slide.popup2 {
    background-image: url(../images/main/popup_bg2.png);
}
.visual .swiper .swiper-slide.popup3 {
    background-image: url(../images/main/popup_bg3.png);
}
.visual .swiper .swiper-slide .inner {
    position: relative;
    top: 40%;
}
.visual .swiper .swiper-slide .inner h3 {
    font-size: 64px;
    line-height: 1.2;
    font-weight: 700;
}
.visual .swiper .swiper-slide .inner p {
    font-weight: 700;
}
.visual .swiper .paing {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 10;
    display: flex;
}
.visual .swiper .paing .item {
    width: 33.3%;
    height: 70px;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    display: block;
    border-radius: 0;
    margin: 0;
    padding-top: 18px;
    text-align: center;
    opacity: 1;
    backdrop-filter: blur(10px);
    background-color: transparent;
}
.visual .swiper .paing .item.swiper-pagination-bullet-active {
    background-color: var(--color-green);
}
.visual .swiper .paing .item .txt1::before {
    content: "내 나무 갖기";
}
.visual .swiper .paing .item .txt2::before {
    content: "도시 속 나무심기";
}
.visual .swiper .paing .item .txt3::before {
    content: "고목나무 이야기";
}
@media screen and (max-width:1300px) {
    .visual .swiper .swiper-slide .inner h3 {
        font-size: 55px;
    }
    .visual .swiper .paing .item {
        height: 60px;
        font-size: 20px;
    }
}
@media screen and (max-width:1024px) {
    .visual .swiper {
        height: 600px;
    }
    .visual .swiper .swiper-slide {
        height: 600px;
    }
    .visual .swiper .swiper-slide .inner {
        top: 35%;
    }
    .visual .swiper .swiper-slide .inner h3 {
        font-size: 32px;
        line-height: 1.2;
        font-weight: 700;
    }
    .visual .swiper .paing {
        bottom: 24px;
        left: 50%;
        width: auto;
        transform: translateX(-50%);
    }
    .visual .swiper .paing .item {
        width: 20px;
        height: 8px;
        font-size: 0;
        line-height: 0;
        border-radius: 4px;
        margin: 4px;
        padding-top: 0;
        opacity: 1;
        backdrop-filter: blur(10px);
        background-color: rgba(255, 255, 255, 0.6);
    }
}

.tree {
    background-color: #fff;
}
.forest {
    background-color: var(--color-blue);
    color: #fff;
}
.story {
    background-color: var(--color-deepblue);
    color: #fff;
}
footer {
    background-color: #41338e;
    color: #fff;
    height: 300px;
}