@import url(default.css);
@import url(fonts.css);
@import url(common.css); 
@import url(layout.css); 


.visual_popup .popup .popup_item img {
    width: 100%;
}
.visual_popup .popup .popup_item img.mo {
    display: none;
}
.visual_popup .popup .slick-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    /* 좌우에 가운데 */
    display: flex;
    gap: 5px;
}
.visual_popup .popup .slick-dots li button {
    font-size: 0;
    line-height: 0;
    width: 24px;
    height: 8px;
    border-radius: 4px;
    background-color: rgba(255,255,255,0.4);
}
.visual_popup .popup .slick-dots li.slick-active button {
    width: 35px;
    background-color: #fff;
}
@media screen and (max-width:768px) {
    .visual_popup .popup .popup_item {
        height: auto;
    }
    .visual_popup .popup .popup_item img {
        display: none;
    }
    .visual_popup .popup .popup_item img.mo {
        display: block;
    }
}

.menu .tit {
    text-align: center;
    margin: var(--margin-tit);
    font-family: 'Cafe24';
    color: var(--color-brown);
}
.menu .tit h2 {
    font-weight: 700;
    font-size: var(--txt-tit-size);
    line-height: 1;
}
.menu .list .popup .popup_item {
    margin: 0 12px;
    position: relative; /* before 정렬의 기준 */
    text-align: center;
    padding-bottom: 40px;
}
.menu .list .popup .popup_item::before {
    position: absolute;
    left: 0;
    top: 130px;
    z-index: -1;
    width: 100%;
    height: calc(100% - 137px);
    border: 3px solid #443237;
    content: "";
}
.menu .list .popup .popup_item .photo {
    overflow: hidden;
    margin: 0 5%;
}
.menu .list .popup .popup_item .photo img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* 이미지를 자르지 않고 모두 보이도록 */
}
.menu .list .popup .popup_item h3 {
    font-size: 1.1rem;
    line-height: 1.1;
    font-weight: 700;
    font-family: Cafe24;
    color: var(--color-brown);
    margin: 24px 0 3px 0;
} 
.menu .list .popup .popup_item strong {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--color-brown);
    padding: 0 10px;
}

@media screen and (max-width:1300px) {

}
@media screen and (max-width:1024px) {
    .menu .tit {
        margin: 42px 0 34px 0;
    }
}
@media screen and (max-width:768px) {
    
}

.brand {
    margin: var(--margin-tit);
}
.brand .inner {
    padding: 446px 0 0 200px;
    background: url(../images/main/brand_bg.png) no-repeat center center / cover;
    height: 659px;
    color: #fff;
}
.brand .inner h2 {
    font-family: 'Cafe24';
    font-size: 3.2rem;
    line-height: 1.3;
    font-weight: 700;
}
.brand .inner strong {
    font-family: 'Cafe24';
}
.brand .inner p {
    margin-top: 30px;
}
/* 
    loop 애니메이션을 줄 때
    <div> -- 감싸는 요소
        <span></span> -- 움직일 요소
    </div>
    움직일 요소는 white-space: nowrap;으로 한 줄
    넓이가 온전하게 인식 되어야 함
    브라우저 크기를 초과하는 넓이 온전히 인식되어야 함
    --- 넓이가 온전히 인식되지 않는 경우 position:absolute;를 줘야 함
 */
.brand .loop {
    height: 7.333rem;
    background-color: #131313;
    color: #fff;
    font-size: 4.8rem;
    position: relative;
}
.brand .loop span {
    position: absolute;
    left: 0;
    top: 0.5rem;;
    white-space: nowrap;
    display: block;
    animation-name: brand_loop;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; /* 가속도 삭제 */
}
@keyframes brand_loop {
    0% {transform: translate(0, 0);}
    100% {transform: translate(-50.22%, 0);} /* 첫 글자가 다시 맨앞으로 도달 */
}
@media screen and (max-width:1024px) {
    .brand {
        margin: var(--margin-tit);
    }
    .brand .inner {
        padding: 220px 0 0 40px;
        height: 300px;
    }
    .brand .inner h2 {
        font-size: 1.6rem;
}
    .brand .inner p {
        display: none;
    }
    .brand .loop {
        height: 4rem;
        font-size: 3.2rem;
    }
    .brand .loop span {
        top: 0.05rem;
    }
}
@media screen and (max-width:768px) {
    .brand .inner {
        padding: 195px 0 0 40px;
        height: 275px;
    }
}
.md .tit {
    text-align: center;
    margin: var(--margin-tit);
    font-family: 'Cafe24';
    color: var(--color-brown);
}
.md .tit h2 {
    text-align: center;
    font-size: var(--txt-tit-size);
    line-height: 1.2;
}
.md .list {
    margin-top: 40px;
}
.md .list .popup .popup_item {
    margin: 0 12px;
    width: 297px;
    text-align: center;
    font-family: 'Cafe24';
}
.md .list .popup .popup_item .photo {
    overflow: hidden;
    margin: 0 5px 0 0;
}
.md .list .popup .popup_item .photo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.md .list .popup .popup_item h3 {
    font-size: 1.1rem;
    color: var(--margin-tit);
    line-height: 1.2;
}
.md .list .popup .popup_item strong {
    color: var(--color-brown);   
}

.event .tit {
    text-align: center;
    margin: var(--margin-tit);
    font-family: 'Cafe24';
    color: var(--color-brown);
}
.event .tit h2 {
    text-align: center;
    font-size: var(--txt-tit-size);
    line-height: 1.2;
}
.event .list .popup {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}
.event .list .popup .popup_item {
    margin: 0 24px 0 0;
}
.event .list .popup .popup_item a img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}


