html, body {
    font-family: "Montserrat", 'one_Regular', 'one_pop', 'one_title', 'Pretendard', "Malgun Gothic", "맑은 고딕", Dotum, 돋움 ;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0em;
    line-height: 1.4;
    color: #3d3d3d;
    word-break: break-all;
    word-wrap: break-word;
    overflow-x: hidden;
}

#wrap {
    min-width: 1260px;
    overflow: hidden;
}
.wrapper {
    width: 1260px;
    margin: 0 auto;
}

@media screen and (max-width:1300px) {
    #wrap {
        min-width: 100%
    }
    .wrapper {
        width: auto;
        margin: 0 20px;
    }
}/* media */
@media screen and (max-width:1024px) {
    html, body {
        font-size: 14px;
    }
}
@media screen and (max-width:768px) {
    html, body {
        font-size: 13px;
    }
}
::selection {
    background-color: #bcbcbc;
    color: #1d1d1d;
}

/*
    100/li의 갯수 = 33.33%
    중간여백 총합 24*2 = 48 / li의 갯수 = 48/3 = 16
    calc(33.33% - 16px)
*/
/* 
    96px - 6.4rem
    64px - 4.267rem 
    24px - 1.6rem
    22px - 1.467rem
    20px - 1.333rem
    18px - 1.2rem
    16px - 1.067rem
    15px - 1rem
    14px - 0.933rem
    13px - 0.867rem

*/
:root {
    --txt-color-tit: #1d1d1d;
    --txt-color-txt: #3d3d3d;
    --txt-color-gray: #666;
    --txt-color-white: #fff;
    --txt-color-blue: #295F9B;
    --txt-tit-size : 4.267rem;
    --txt-best-size : 1.333rem;
    --sub-best-size : 0.933rem;
    --txt-invest-size : 1.6rem;
}

@media screen and (max-width:1300px) {
    :root {
        --txt-tit-size : 3.867rem;
    }
}
@media screen and (max-width:1024px) {
    :root {
        --txt-tit-size : 3.286rem;
        --txt-invest-size : 1.571rem;
        --txt-best-size : 1.286rem;
        --sub-best-size : 0.857rem;
    }
}
@media screen and (max-width:768px) {
    :root {
        --txt-tit-size : 3.077rem;
        --txt-invest-size : 1.538rem;
        --txt-best-size : 1.077rem;
        --sub-best-size : 0.769rem;
    }
}
@media screen and (max-width:425px) {
    :root {
        --txt-tit-size : 2.769rem;
    }
}