.skip_nav {
    position: absolute;
    left: 0;
    top: -100px;
    z-index: 9999999999;
    width: 100%;
}
.skip_nav a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #0C6779;
    color:  var(--txt-color-white);
    text-align: center;
}
.skip_nav a:focus {
    top: 100px;
}

header {
    z-index: 100;
    width: 100%;
    height: 100px;
    padding: 0 40px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

header .logo {
    margin-top: 16px;
}
header .logo a {
    display: block;
    width: 216px;
    height: 54px;
    font-size: 0;
    line-height: 0;
    position: relative;
}
header .logo a::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/main/logo.png) no-repeat center center / contain;
    content: "";
}

@media screen and (min-width:1025px) {
    header .header_r {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    header .gnb .gnb_open,
    header .gnb .gnb_close {
        display: none;
    } 
    header .gnb {
        position: relative;
    }
    header .gnb::before {
        position: absolute;
        right: 0;
        top: 0;
        height: 98%;
        border: 1px solid #E9E9E9;
        content: "";
    }
    header .gnb .depth1 {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    header .gnb .depth1 > li {
        position: relative;
        width: 120px;
    }
    header .gnb .depth1 > li:last-child {
        width: 145px;
    }
    header .gnb .depth1 > li > a {
        display: block;
        line-height: 100px;
        font-size: 1.2rem;
    }
    header .gnb .depth2 {
        display: none;
        position: absolute;
        left: 0;
        top: 80px;
        width: 120px;
        padding: 15px 0;
        text-align: center;
        background-color:  var(--txt-color-white);
        border: 1px solid #ccc;
    }
    header .gnb .depth1 > li:last-child > .depth2  {
        width: 145px;
    }
    header .gnb .depth2 > ul > li > a {
        display: block;
        white-space: nowrap;
        line-height: 2;
        text-align: center;
    }
    header .gnb .depth1 > li.on > a {
        font-weight: 600;
        color: var(--txt-color-blue);
    }
    header .gnb .depth1 > li.on > .depth2 {
        display: block;
    }
    header .gnb .depth1 > li.on > .depth2 > ul > li:hover > a {
        color: var(--txt-color-blue);
    }
    header .tnb {
        width: 100px;
        display: flex;
        justify-content: flex-end;
    }
    header .tnb .h_search {
        margin-right: 15px;
    }
    header .tnb a {
        display: block;
        width: 30px;
        height: 30px;
        line-height: 0;
        font-size: 0;
        position: relative;
    }
    header .tnb a::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        content: "";
    }

    header .tnb a.h_search::before {
        background-image: url("data:image/svg+xml,%3Csvg width='34' height='34' viewBox='0 0 34 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='16.356' cy='15.5445' r='7.52299' stroke='%23666666' stroke-width='2'/%3E%3Cline x1='21.5079' y1='20.6679' x2='27.7064' y2='26.8664' stroke='%23666666' stroke-width='2'/%3E%3C/svg%3E%0A");
    }
    
    header .tnb a.lang::before {
        background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 25C13.6333 25 12.3417 24.7375 11.125 24.2125C9.90833 23.6875 8.84583 22.9708 7.9375 22.0625C7.02917 21.1542 6.3125 20.0917 5.7875 18.875C5.2625 17.6583 5 16.3667 5 15C5 13.6167 5.2625 12.3208 5.7875 11.1125C6.3125 9.90417 7.02917 8.84583 7.9375 7.9375C8.84583 7.02917 9.90833 6.3125 11.125 5.7875C12.3417 5.2625 13.6333 5 15 5C16.3833 5 17.6792 5.2625 18.8875 5.7875C20.0958 6.3125 21.1542 7.02917 22.0625 7.9375C22.9708 8.84583 23.6875 9.90417 24.2125 11.1125C24.7375 12.3208 25 13.6167 25 15C25 16.3667 24.7375 17.6583 24.2125 18.875C23.6875 20.0917 22.9708 21.1542 22.0625 22.0625C21.1542 22.9708 20.0958 23.6875 18.8875 24.2125C17.6792 24.7375 16.3833 25 15 25ZM15 22.95C15.4333 22.35 15.8083 21.725 16.125 21.075C16.4417 20.425 16.7 19.7333 16.9 19H13.1C13.3 19.7333 13.5583 20.425 13.875 21.075C14.1917 21.725 14.5667 22.35 15 22.95ZM12.4 22.55C12.1 22 11.8375 21.4292 11.6125 20.8375C11.3875 20.2458 11.2 19.6333 11.05 19H8.1C8.58333 19.8333 9.1875 20.5583 9.9125 21.175C10.6375 21.7917 11.4667 22.25 12.4 22.55ZM17.6 22.55C18.5333 22.25 19.3625 21.7917 20.0875 21.175C20.8125 20.5583 21.4167 19.8333 21.9 19H18.95C18.8 19.6333 18.6125 20.2458 18.3875 20.8375C18.1625 21.4292 17.9 22 17.6 22.55ZM7.25 17H10.65C10.6 16.6667 10.5625 16.3375 10.5375 16.0125C10.5125 15.6875 10.5 15.35 10.5 15C10.5 14.65 10.5125 14.3125 10.5375 13.9875C10.5625 13.6625 10.6 13.3333 10.65 13H7.25C7.16667 13.3333 7.10417 13.6625 7.0625 13.9875C7.02083 14.3125 7 14.65 7 15C7 15.35 7.02083 15.6875 7.0625 16.0125C7.10417 16.3375 7.16667 16.6667 7.25 17ZM12.65 17H17.35C17.4 16.6667 17.4375 16.3375 17.4625 16.0125C17.4875 15.6875 17.5 15.35 17.5 15C17.5 14.65 17.4875 14.3125 17.4625 13.9875C17.4375 13.6625 17.4 13.3333 17.35 13H12.65C12.6 13.3333 12.5625 13.6625 12.5375 13.9875C12.5125 14.3125 12.5 14.65 12.5 15C12.5 15.35 12.5125 15.6875 12.5375 16.0125C12.5625 16.3375 12.6 16.6667 12.65 17ZM19.35 17H22.75C22.8333 16.6667 22.8958 16.3375 22.9375 16.0125C22.9792 15.6875 23 15.35 23 15C23 14.65 22.9792 14.3125 22.9375 13.9875C22.8958 13.6625 22.8333 13.3333 22.75 13H19.35C19.4 13.3333 19.4375 13.6625 19.4625 13.9875C19.4875 14.3125 19.5 14.65 19.5 15C19.5 15.35 19.4875 15.6875 19.4625 16.0125C19.4375 16.3375 19.4 16.6667 19.35 17ZM18.95 11H21.9C21.4167 10.1667 20.8125 9.44167 20.0875 8.825C19.3625 8.20833 18.5333 7.75 17.6 7.45C17.9 8 18.1625 8.57083 18.3875 9.1625C18.6125 9.75417 18.8 10.3667 18.95 11ZM13.1 11H16.9C16.7 10.2667 16.4417 9.575 16.125 8.925C15.8083 8.275 15.4333 7.65 15 7.05C14.5667 7.65 14.1917 8.275 13.875 8.925C13.5583 9.575 13.3 10.2667 13.1 11ZM8.1 11H11.05C11.2 10.3667 11.3875 9.75417 11.6125 9.1625C11.8375 8.57083 12.1 8 12.4 7.45C11.4667 7.75 10.6375 8.20833 9.9125 8.825C9.1875 9.44167 8.58333 10.1667 8.1 11Z' fill='%23666666'/%3E%3C/svg%3E%0A");
    }
    
    header.fixed,
    header.fixed.menu_over {
        position: fixed;
        border-bottom: 1px solid #ccc;
        background-color:  var(--txt-color-white);
    }
}
@media screen and (max-width:1024px) {
    header .gnb .gnb_wrap {
        display: none;
    }
}
@media screen and (max-width:768px) {

}

footer {
    background-color: var(--txt-color-tit);
    padding: 50px 0;
    color: #BEBEBE;
}
