.skip_nav {
    position: absolute;
    left: 0;
    top: -100px;
    z-index: 9999999999;
    width: 100%;
}
.skip_nav a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #0C6779;
    color:  var(--txt-color-white);
    text-align: center;
}
.skip_nav a:focus {
    top: 100px;
}