.skip_nav {
    position: absolute;
    left: 0;
    top: -100px;
    z-index: 9999999999;
    width: 100%;
}
.skip_nav a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: #0C6779;
    color: #fff;
    text-align: center;
}
.skip_nav a:focus {
    top: 100px;
}

header {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 100;
    background-color: #fff;
    /* box-shadow: 0 3px 5px rgba(0,0,0,0.2);*/
}
header .header_wrap {
    white-space: nowrap; 
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0 30px;
    justify-content: space-between;
}
header .logo {
   margin: 20px;
}
header .logo a {
    display: block;
    width: 191px;
    height: 59px;
    font-size: 0;
    line-height: 0;
    position: relative; 
}
header .logo a::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/main/logo.png) no-repeat center center / contain;
    content: "";
}
header .login a{
    display: block;
    font-size: 0;
    line-height: 0;
    position: relative;
    width: 30px;
    height: 30px;
} 
header .login a::before {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.9759 25V23.75H22.9806C23.1731 23.75 23.3495 23.6699 23.5097 23.5097C23.6699 23.3495 23.75 23.1731 23.75 22.9806V7.01937C23.75 6.82687 23.6699 6.65052 23.5097 6.49031C23.3495 6.3301 23.1731 6.25 22.9806 6.25H14.9759V5H22.9806C23.556 5 24.0365 5.19271 24.4219 5.57812C24.8073 5.96354 25 6.44396 25 7.01937V22.9806C25 23.556 24.8073 24.0365 24.4219 24.4219C24.0365 24.8073 23.556 25 22.9806 25H14.9759ZM14.0866 19.4231L13.2091 18.5241L16.1081 15.625H5V14.375H16.1081L13.2091 11.4759L14.0866 10.5769L18.5097 15L14.0866 19.4231Z' fill='%23666666'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    content: "";
} 
header .gnb .gnb_wrap .depth2 {
    display: none;
}
header.fixed {
    position: fixed;
    border-bottom: 1px solid #ccc;
}

@media screen and (min-width:1260px) {
    header .gnb {
        margin: 0 auto;
    }
    header .gnb .gnb_wrap .depth1 {
        display: flex;
        justify-content: space-between;
    }
    header .gnb .gnb_wrap .depth1 > li {
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        text-align: center;
        padding: 38px 20px 0 20px; 
        font-size: 1.25rem;
    }
    header .gnb .gnb_wrap ul.depth1 > li:hover > a {
        font-weight: 700;
        color: #0C6779;
    }
    header .gnb .gnb_wrap .depth2 > ul {
        position: absolute;
        top: 105px;
        left: 0;
        padding: 15px 0;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        border: 1px solid #ccc;
        background-color: #fff;
    }
    header .gnb .gnb_wrap .depth2 > ul > li > a {
        padding: 0 20px;
        display: block;
        color: var(--txt-color-txt);
    }
    header .gnb .gnb_wrap .depth2 > ul > li:hover > a {
        font-weight: 700;
    }
    header .gnb .gnb_open,
    header .gnb .gnb_close {
        display: none;
    }
    header .login {
        margin-top: 35px;
    }
}
@media screen and (min-width:1259px) {
    
}

footer {
        height: 1000px;
    }