@import url(default.css);
@import url(fonts.css);
@import url(common.css); 
@import url(layout.css); 

 /* 
        100/li의 갯수 = 33.33%
        중간여백 총합 24*2 = 48 / li의 갯수 = 48/3 = 16
        calc(33.33% - 16px)
    */


/* 
    1. 1차 메뉴에서 2차 메뉴로 이동하는 동안 
   1차메뉴 오버가 풀림 
    1차 메뉴 a의 사이즈가 2차 메뉴 이전까지 존재해야함 

2. 로그인 버튼 디자인 변경 (현재 디자인은 로그아웃)

3. 모바일에서 하위메뉴 안열리고, 하위메뉴가 있는 경우 화살표나 더하기 아이콘이 있어야함. 

4. 콘솔창에 log 모두 삭제하기 

5. exhibition 문서 구조 변경

<div class="exhibition">
<div class="tit">
<div class="wrapper">
<h2></h2>
</div>
</div>
<div class="list">
<div class="swiper"></div>
</div>
</div>
<div class="more">
</div>

6. exhibition 이미지에 테두리 주기 & 크기 제어 (li에서 넓이를 제어)
   <div class="photo">
        <img >
   </div>

7.  exhibition 에 more position:absolute; 해제 top:auto; right:auto; 0은 해제가 아님 

8. more a에 넓이와 높이가 있어야 함. 이전 포폴 참고 

9. search_box section태그로 변경 
    h2를 검색이라고 주고 숨기기

10. search_box wrapper에 스타일 주지 말고 input button을 묶는 div하나를 줘서 해당 요소에 border 주기 
   flex 주기 ... (form에 절대 flex주면 안됨... )
   input 의 넓이는 button의 넓이 빼고 100% 
   placeholder 에 입력된 글자 스타일은 input:placeholder 스타일 적용 

11. news에 배경색이 없고 tab에 디자인 스타일이 다름 (색상 다름, 여백 다름)
    tab구현은 금호건설에 연혁 tab으로 코딩과 구현 변경 

12. column photo한테 overflow:hidden; font-size:0; line-height:0; 
     img에 width:100%; height:100%; object-fit:cover; 

13. service a에 block줘서 넓게 클릭되도록 

14. community에서 제목과 날짜는 
     날짜는 고정 넓이   왼쪽에 제목 날짜와 여백 빼고 나머지 전부 
     예로 날짜가 넓이가 200px  제목 calc(100% - 250px) - 여백이 50이면 

     calc(70%) - 이렇게 쓰면 안됨. calc는 계산 값... 오후 3:37 2024-09-10
*/

