/* header와 footer 처럼 페이지에 공통으로 배치되는 요소 */

header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 100; /* 모든 요소의 맨위 */
    color: #fff;
    padding: 0 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
header .logo {
    margin-top: 15px;
}
header .logo a {
    display: block;
    width: 175px;
    height: 58px;
    font-size: 0;
    line-height: 0;
    position: relative;
}
header .logo a::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='175' height='58' viewBox='0 0 175 58' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_47_5)'%3E%3Cpath d='M139.31 14.1838C139.31 14.6772 139.381 15.1886 139.579 15.673C140.448 17.8261 142.663 19.1539 145.479 18.0325C146.152 17.7633 164.777 10.2543 164.777 10.2543C164.777 10.2543 157.442 28.8609 157.164 29.5517C156.097 32.2162 157.379 34.6295 159.558 35.437C160.042 35.6164 160.545 35.7061 161.038 35.6971C162.822 35.6882 164.392 34.6385 165.163 32.5392C165.279 32.2252 174.453 7.02459 174.65 6.42351C174.767 6.06466 174.982 5.22135 174.982 4.63821C174.982 3.39118 174.525 2.21593 173.637 1.32776C172.767 0.448569 171.601 0 170.373 0C169.772 0 169.288 0.107657 168.552 0.340913C168.113 0.484455 144.466 9.28538 142.448 10.039C140.431 10.7926 139.31 12.4074 139.319 14.1838' fill='%23ED1C24'/%3E%3Cpath d='M95.0013 28.3942V27.856H80.6624V31.5253H88.9931C86.823 38.3973 79.0662 42.4345 79.0662 42.4345L81.1377 45.3322C81.1377 45.3322 95.0013 39.6085 95.0013 28.3853V28.3942Z' fill='white'/%3E%3Cpath d='M90.4727 52.7607V45.6284H85.3882V53.6668C85.3882 56.1788 87.3879 57.991 90.132 57.991H105.888V54.3307H92.2483C91.0108 54.3307 90.4907 53.8372 90.4638 52.7607H90.4727Z' fill='white'/%3E%3Cpath d='M94.4272 34.6204V38.2897H100.48V47.1355H105.565V27.4702H100.48V34.6204H94.4272Z' fill='white'/%3E%3Cpath d='M138.242 42.2104H143.327V27.3179H138.242V31.9561H132.943V35.5805H138.242V42.2104Z' fill='white'/%3E%3Cpath d='M24.1943 45.3506H4.84253V53.6671C4.84253 56.179 6.84227 57.9913 9.58632 57.9913H25.3242V46.481C25.3242 45.853 24.8131 45.3506 24.1943 45.3506ZM20.2397 54.3309H11.7026C10.4651 54.3309 9.93605 53.8465 9.91811 52.761V49.0289H20.2397V54.3309Z' fill='white'/%3E%3Cpath d='M25.6649 27.9102V27.7397H4.56444V31.409H20.3472C20.3472 31.6513 20.3472 31.9563 20.3472 32.2524C20.3472 35.6615 20.1768 37.9043 20.0871 38.8194H0V42.4887H30.9467V38.8194H24.6157C24.9206 37.6711 25.6738 34.1184 25.6738 27.9102H25.6649Z' fill='white'/%3E%3Cpath d='M57.2662 47.1985C61.4899 46.2744 64.6106 43.1075 64.6106 39.3575C64.6106 37.3389 63.7049 35.4908 62.2163 34.0644H67.6147V30.3951H57.2662V26.9321H52.1907V30.3951H41.8422V34.0644H47.2406C45.752 35.4908 44.8463 37.33 44.8463 39.3575C44.8463 43.1165 47.967 46.2744 52.1996 47.1985V50.9126H39.2686V54.5819H70.2063V50.9126H57.2752V47.1985H57.2662ZM50.0654 39.2409C50.0654 36.7379 52.1548 34.6924 54.7195 34.6924C57.2842 34.6924 59.3736 36.7289 59.3736 39.2409C59.3736 41.7529 57.2842 43.7894 54.7195 43.7894C52.1548 43.7894 50.0654 41.7529 50.0654 39.2409Z' fill='white'/%3E%3Cpath d='M128.522 41.8963H133.445C133.239 40.7031 131.436 31.0678 126.746 27.7305H121.07L116.703 42.0129H121.805L124.711 31.7317C127.159 34.6025 128.351 40.9543 128.513 41.8963H128.522Z' fill='white'/%3E%3Cpath d='M129.535 54.4565C128.244 54.4565 128.011 54.1245 128.011 53.03V52.5725H143.336V44.8571C143.336 44.1932 142.852 43.6729 142.161 43.6729H123.016V47.2076H138.467V49.1005H123.15V53.667C123.15 56.3135 125.051 57.9912 127.894 57.9912H143.668V54.4565H129.535Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_47_5'%3E%3Crect width='175' height='58' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    content: "";
}
/* header에 오버하거나, 스크롤을 내려서 고정되었을 때 */
header.fixed {
    position: fixed;
    background-color: #fff;
    color: #1d1d1d;
}
header.fixed .logo a::before {
    background-image: url("data:image/svg+xml,%3Csvg width='175' height='58' viewBox='0 0 175 58' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_20_175)'%3E%3Cpath d='M139.31 14.1838C139.31 14.6772 139.381 15.1886 139.579 15.673C140.448 17.8261 142.663 19.1539 145.479 18.0325C146.152 17.7633 164.777 10.2543 164.777 10.2543C164.777 10.2543 157.442 28.8609 157.164 29.5517C156.097 32.2162 157.379 34.6295 159.558 35.437C160.042 35.6164 160.545 35.7061 161.038 35.6971C162.822 35.6882 164.392 34.6385 165.163 32.5392C165.279 32.2252 174.453 7.02459 174.65 6.42351C174.767 6.06466 174.982 5.22135 174.982 4.63821C174.982 3.39118 174.525 2.21593 173.637 1.32776C172.767 0.448569 171.601 0 170.373 0C169.772 0 169.288 0.107657 168.552 0.340913C168.113 0.484455 144.466 9.28538 142.448 10.039C140.431 10.7926 139.31 12.4074 139.319 14.1838' fill='%23ED1C24'/%3E%3Cpath d='M95.0013 28.3942V27.856H80.6624V31.5253H88.9931C86.823 38.3973 79.0662 42.4345 79.0662 42.4345L81.1377 45.3322C81.1377 45.3322 95.0013 39.6085 95.0013 28.3853V28.3942Z' fill='%231D1D1D'/%3E%3Cpath d='M90.4727 52.7607V45.6284H85.3882V53.6668C85.3882 56.1788 87.3879 57.991 90.132 57.991H105.888V54.3307H92.2483C91.0108 54.3307 90.4907 53.8372 90.4638 52.7607H90.4727Z' fill='%231D1D1D'/%3E%3Cpath d='M94.4274 34.6204V38.2897H100.48V47.1355H105.565V27.4702H100.48V34.6204H94.4274Z' fill='%231D1D1D'/%3E%3Cpath d='M138.242 42.2104H143.327V27.3179H138.242V31.9561H132.943V35.5805H138.242V42.2104Z' fill='%231D1D1D'/%3E%3Cpath d='M24.1942 45.3506H4.84241V53.6671C4.84241 56.179 6.84215 57.9913 9.58619 57.9913H25.3241V46.481C25.3241 45.853 24.8129 45.3506 24.1942 45.3506ZM20.2395 54.3309H11.7025C10.465 54.3309 9.93593 53.8465 9.91799 52.761V49.0289H20.2395V54.3309Z' fill='%231D1D1D'/%3E%3Cpath d='M25.6649 27.9102V27.7397H4.56444V31.409H20.3472C20.3472 31.6513 20.3472 31.9563 20.3472 32.2524C20.3472 35.6615 20.1768 37.9043 20.0871 38.8194H0V42.4887H30.9467V38.8194H24.6157C24.9206 37.6711 25.6738 34.1184 25.6738 27.9102H25.6649Z' fill='%231D1D1D'/%3E%3Cpath d='M57.2662 47.1985C61.4899 46.2744 64.6106 43.1075 64.6106 39.3575C64.6106 37.3389 63.7049 35.4908 62.2163 34.0644H67.6147V30.3951H57.2662V26.9321H52.1907V30.3951H41.8422V34.0644H47.2406C45.752 35.4908 44.8463 37.33 44.8463 39.3575C44.8463 43.1165 47.967 46.2744 52.1996 47.1985V50.9126H39.2686V54.5819H70.2063V50.9126H57.2752V47.1985H57.2662ZM50.0654 39.2409C50.0654 36.7379 52.1548 34.6924 54.7195 34.6924C57.2842 34.6924 59.3736 36.7289 59.3736 39.2409C59.3736 41.7529 57.2842 43.7894 54.7195 43.7894C52.1548 43.7894 50.0654 41.7529 50.0654 39.2409Z' fill='%231D1D1D'/%3E%3Cpath d='M128.522 41.8963H133.445C133.239 40.7031 131.436 31.0678 126.746 27.7305H121.07L116.703 42.0129H121.805L124.71 31.7317C127.159 34.6025 128.351 40.9543 128.513 41.8963H128.522Z' fill='%231D1D1D'/%3E%3Cpath d='M129.535 54.4565C128.244 54.4565 128.011 54.1245 128.011 53.03V52.5725H143.336V44.8571C143.336 44.1932 142.852 43.6729 142.161 43.6729H123.016V47.2076H138.467V49.1005H123.15V53.667C123.15 56.3135 125.051 57.9912 127.894 57.9912H143.668V54.4565H129.535Z' fill='%231D1D1D'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_20_175'%3E%3Crect width='175' height='58' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

@media screen and (min-width:1025px) {
    /* 1025px 이상일 경우 -pc형 */
    header .gnb button {
        display:none;
    }
    header .gnb .gnb_wrap ul.depth1 {
        display: flex;
        text-align: center;
    }
    header .gnb .gnb_wrap ul.depth1  > li {
        width: 125px;
        position: relative; /* depth2 정렬의 기준 */
    }
    header .gnb .gnb_wrap ul.depth1  > li > a {
        display: block; /* li와 사이즈 동일 */
        line-height: 100px; /* header와 높이가 동일한 값 */
        font-size: 22px;
        font-weight: 700;
    }
    header .gnb .gnb_wrap ul.depth1  > li.on > a {
        font-weight: 700;
        color: #D1272E;
    }
    header .gnb .gnb_wrap ul.depth2 {
        display: none; /* 2차메뉴는 오버한 경우에만 보임 */
        position: absolute;
        left: 0;
        top: 100px; /* header 높이만큼 */
        width: 100%;
        padding-top: 24px;
        /* 1차메뉴 a와 2차 메뉴 사이의 여백은
            반드시 padding으로 줘야 함. */
    }
    header .gnb .gnb_wrap ul.depth2 > li > a {
        display: block;
        line-height: 2;
        color: #3d3d3d;
    }
    header .gnb .gnb_wrap ul.depth2 > li > a:hover {
        font-weight: 700;
        color: #D1272E;
    }
    /* a태그 중에서 target="_blank" 속성이 선언된 a태그에게만 스타일 적용 */
    header .gnb .gnb_wrap ul.depth2 > li > a[target="_blank"] > span {
        padding-right: 16px; /* 아이콘이 들어갈 자라 - 아이콘까지 포함에서 가운데 정렬 */
        display: inline-block;
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth2 > li > a[target="_blank"] > span::after {
        position: absolute;
        right: 0;
        top: 7px;
        width: 15px;
        height: 15px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.31734 12.8125C3.00161 12.8125 2.73438 12.7031 2.51562 12.4844C2.29688 12.2656 2.1875 11.9984 2.1875 11.6827V3.31734C2.1875 3.00161 2.29688 2.73438 2.51562 2.51562C2.73438 2.29688 3.00161 2.1875 3.31734 2.1875H7.25953V3.125H3.31734C3.26922 3.125 3.22516 3.14505 3.18516 3.18516C3.14505 3.22516 3.125 3.26922 3.125 3.31734V11.6827C3.125 11.7308 3.14505 11.7748 3.18516 11.8148C3.22516 11.8549 3.26922 11.875 3.31734 11.875H11.6827C11.7308 11.875 11.7748 11.8549 11.8148 11.8148C11.8549 11.7748 11.875 11.7308 11.875 11.6827V7.74047H12.8125V11.6827C12.8125 11.9984 12.7031 12.2656 12.4844 12.4844C12.2656 12.7031 11.9984 12.8125 11.6827 12.8125H3.31734ZM6.07453 9.58406L5.41594 8.92547L11.2164 3.125H8.75V2.1875H12.8125V6.25H11.875V3.78359L6.07453 9.58406Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
        content: "";
    }
    header .gnb .gnb_wrap ul.depth2 > li > a[target="_blank"]:hover > span::after {
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.31734 12.8125C3.00161 12.8125 2.73438 12.7031 2.51562 12.4844C2.29688 12.2656 2.1875 11.9984 2.1875 11.6827V3.31734C2.1875 3.00161 2.29688 2.73438 2.51562 2.51562C2.73438 2.29688 3.00161 2.1875 3.31734 2.1875H7.25953V3.125H3.31734C3.26922 3.125 3.22516 3.14505 3.18516 3.18516C3.14505 3.22516 3.125 3.26922 3.125 3.31734V11.6827C3.125 11.7308 3.14505 11.7748 3.18516 11.8148C3.22516 11.8549 3.26922 11.875 3.31734 11.875H11.6827C11.7308 11.875 11.7748 11.8549 11.8148 11.8148C11.8549 11.7748 11.875 11.7308 11.875 11.6827V7.74047H12.8125V11.6827C12.8125 11.9984 12.7031 12.2656 12.4844 12.4844C12.2656 12.7031 11.9984 12.8125 11.6827 12.8125H3.31734ZM6.07453 9.58406L5.41594 8.92547L11.2164 3.125H8.75V2.1875H12.8125V6.25H11.875V3.78359L6.07453 9.58406Z' fill='%23ED1C24'/%3E%3C/svg%3E%0A");
    }
    header .tnb {
        display: flex;
        align-items: center;
        margin-top: 40px;
    }
    header .tnb .lang {
        display: block;
        padding-left: 18px;
        /* 왼쪽에 아이콘 들어갈 자리 - 내부여백으로 처리
            아이콘을 클릭해도 링크가 적용되어야 함
            (아이콘까지 a태그이어야 함) */
        position: relative;
        font-weight: 700;
        margin-right: 20px;
    }
    header .tnb .lang::before {
        position: absolute;
        left: 0;
        top: 1px;
        width: 18px;
        height: 18px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 16.125C8.02313 16.125 7.10125 15.9377 6.23438 15.5633C5.3675 15.1888 4.6115 14.6789 3.96637 14.0336C3.32112 13.3885 2.81125 12.6325 2.43675 11.7656C2.06225 10.8988 1.875 9.97688 1.875 9C1.875 8.01538 2.06225 7.09156 2.43675 6.22856C2.81125 5.36556 3.32112 4.6115 3.96637 3.96637C4.6115 3.32112 5.3675 2.81125 6.23438 2.43675C7.10125 2.06225 8.02313 1.875 9 1.875C9.98462 1.875 10.9084 2.06225 11.7714 2.43675C12.6344 2.81125 13.3885 3.32112 14.0336 3.96637C14.6789 4.6115 15.1888 5.36556 15.5633 6.22856C15.9377 7.09156 16.125 8.01538 16.125 9C16.125 9.97688 15.9377 10.8988 15.5633 11.7656C15.1888 12.6325 14.6789 13.3885 14.0336 14.0336C13.3885 14.6789 12.6344 15.1888 11.7714 15.5633C10.9084 15.9377 9.98462 16.125 9 16.125ZM9 14.9841C9.38275 14.4764 9.70487 13.9644 9.96638 13.4481C10.2279 12.9317 10.4409 12.3673 10.6054 11.7548H7.39463C7.56875 12.3865 7.78419 12.9606 8.04094 13.4769C8.29756 13.9933 8.61725 14.4957 9 14.9841ZM7.54763 14.7778C7.26013 14.3653 7.00194 13.8964 6.77306 13.371C6.54419 12.8455 6.36631 12.3068 6.23944 11.7548H3.69525C4.09138 12.5336 4.62262 13.188 5.289 13.7179C5.95537 14.2476 6.70825 14.6009 7.54763 14.7778ZM10.4524 14.7778C11.2918 14.6009 12.0446 14.2476 12.711 13.7179C13.3774 13.188 13.9086 12.5336 14.3048 11.7548H11.7606C11.6096 12.3115 11.4196 12.8526 11.1908 13.3781C10.962 13.9036 10.7159 14.3702 10.4524 14.7778ZM3.2235 10.6298H6.01163C5.9645 10.351 5.93031 10.0777 5.90906 9.80981C5.88794 9.54206 5.87738 9.27213 5.87738 9C5.87738 8.72788 5.88794 8.45794 5.90906 8.19019C5.93031 7.92231 5.9645 7.649 6.01163 7.37025H3.2235C3.15138 7.625 3.09613 7.88988 3.05775 8.16488C3.01925 8.43988 3 8.71825 3 9C3 9.28175 3.01925 9.56013 3.05775 9.83513C3.09613 10.1101 3.15138 10.375 3.2235 10.6298ZM7.13644 10.6298H10.8636C10.9106 10.351 10.9447 10.0801 10.9659 9.81712C10.9871 9.55412 10.9976 9.28175 10.9976 9C10.9976 8.71825 10.9871 8.44588 10.9659 8.18288C10.9447 7.91988 10.9106 7.649 10.8636 7.37025H7.13644C7.08944 7.649 7.05531 7.91988 7.03406 8.18288C7.01294 8.44588 7.00238 8.71825 7.00238 9C7.00238 9.28175 7.01294 9.55412 7.03406 9.81712C7.05531 10.0801 7.08944 10.351 7.13644 10.6298ZM11.9884 10.6298H14.7765C14.8486 10.375 14.9039 10.1101 14.9423 9.83513C14.9808 9.56013 15 9.28175 15 9C15 8.71825 14.9808 8.43988 14.9423 8.16488C14.9039 7.88988 14.8486 7.625 14.7765 7.37025H11.9884C12.0355 7.649 12.0697 7.92231 12.0909 8.19019C12.1121 8.45794 12.1226 8.72788 12.1226 9C12.1226 9.27213 12.1121 9.54206 12.0909 9.80981C12.0697 10.0777 12.0355 10.351 11.9884 10.6298ZM11.7606 6.24525H14.3048C13.9039 5.45675 13.3763 4.80238 12.7219 4.28213C12.0675 3.762 11.311 3.40625 10.4524 3.21488C10.7399 3.65138 10.9956 4.12881 11.2196 4.64719C11.4438 5.16544 11.6241 5.69813 11.7606 6.24525ZM7.39463 6.24525H10.6054C10.4313 5.61825 10.2123 5.04056 9.94838 4.51219C9.68438 3.98381 9.36825 3.48506 9 3.01594C8.63175 3.48506 8.31563 3.98381 8.05163 4.51219C7.78775 5.04056 7.56875 5.61825 7.39463 6.24525ZM3.69525 6.24525H6.23944C6.37594 5.69813 6.55625 5.16544 6.78038 4.64719C7.00437 4.12881 7.26013 3.65138 7.54763 3.21488C6.68413 3.40625 5.92644 3.76325 5.27456 4.28588C4.62256 4.80838 4.09613 5.4615 3.69525 6.24525Z' fill='white'/%3E%3C/svg%3E%0A");
        content: "";
    }
    header .tnb .artere {
        display: block;
        padding-right: 20px;
        font-weight: 700;
        position: relative;
    }
    header .tnb .artere::after {
        position: absolute;
        right: 0;
        top: 1px;
        width: 18px;
        height: 18px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.98081 15.375C3.60194 15.375 3.28125 15.2438 3.01875 14.9813C2.75625 14.7188 2.625 14.3981 2.625 14.0192V3.98081C2.625 3.60194 2.75625 3.28125 3.01875 3.01875C3.28125 2.75625 3.60194 2.625 3.98081 2.625H8.71144V3.75H3.98081C3.92306 3.75 3.87019 3.77406 3.82219 3.82219C3.77406 3.87019 3.75 3.92306 3.75 3.98081V14.0192C3.75 14.0769 3.77406 14.1298 3.82219 14.1778C3.87019 14.2259 3.92306 14.25 3.98081 14.25H14.0192C14.0769 14.25 14.1298 14.2259 14.1778 14.1778C14.2259 14.1298 14.25 14.0769 14.25 14.0192V9.28856H15.375V14.0192C15.375 14.3981 15.2438 14.7188 14.9813 14.9813C14.7188 15.2438 14.3981 15.375 14.0192 15.375H3.98081ZM7.28944 11.5009L6.49913 10.7106L13.4597 3.75H10.5V2.625H15.375V7.5H14.25V4.54031L7.28944 11.5009Z' fill='white'/%3E%3C/svg%3E%0A");
        content: "";
    }/* 메뉴 오버 고정 */
    header.fixed .lang::before {
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 16.125C8.02313 16.125 7.10125 15.9378 6.23438 15.5633C5.3675 15.1888 4.6115 14.6789 3.96637 14.0336C3.32112 13.3885 2.81125 12.6325 2.43675 11.7656C2.06225 10.8988 1.875 9.97688 1.875 9C1.875 8.01538 2.06225 7.09156 2.43675 6.22856C2.81125 5.36556 3.32112 4.6115 3.96637 3.96637C4.6115 3.32112 5.3675 2.81125 6.23438 2.43675C7.10125 2.06225 8.02313 1.875 9 1.875C9.98463 1.875 10.9084 2.06225 11.7714 2.43675C12.6344 2.81125 13.3885 3.32112 14.0336 3.96637C14.6789 4.6115 15.1888 5.36556 15.5633 6.22856C15.9378 7.09156 16.125 8.01538 16.125 9C16.125 9.97688 15.9378 10.8988 15.5633 11.7656C15.1888 12.6325 14.6789 13.3885 14.0336 14.0336C13.3885 14.6789 12.6344 15.1888 11.7714 15.5633C10.9084 15.9378 9.98463 16.125 9 16.125ZM9 14.9841C9.38275 14.4764 9.70487 13.9644 9.96637 13.4481C10.2279 12.9317 10.4409 12.3673 10.6054 11.7548H7.39463C7.56875 12.3865 7.78419 12.9606 8.04094 13.4769C8.29756 13.9933 8.61725 14.4957 9 14.9841ZM7.54763 14.7778C7.26013 14.3653 7.00194 13.8964 6.77306 13.371C6.54419 12.8455 6.36631 12.3068 6.23944 11.7548H3.69525C4.09138 12.5336 4.62262 13.188 5.289 13.7179C5.95537 14.2476 6.70825 14.6009 7.54763 14.7778ZM10.4524 14.7778C11.2918 14.6009 12.0446 14.2476 12.711 13.7179C13.3774 13.188 13.9086 12.5336 14.3048 11.7548H11.7606C11.6096 12.3115 11.4196 12.8526 11.1908 13.3781C10.962 13.9036 10.7159 14.3702 10.4524 14.7778ZM3.2235 10.6298H6.01163C5.9645 10.351 5.93031 10.0777 5.90906 9.80981C5.88794 9.54206 5.87737 9.27213 5.87737 9C5.87737 8.72788 5.88794 8.45794 5.90906 8.19019C5.93031 7.92231 5.9645 7.649 6.01163 7.37025H3.2235C3.15138 7.625 3.09613 7.88988 3.05775 8.16488C3.01925 8.43988 3 8.71825 3 9C3 9.28175 3.01925 9.56013 3.05775 9.83513C3.09613 10.1101 3.15138 10.375 3.2235 10.6298ZM7.13644 10.6298H10.8636C10.9106 10.351 10.9447 10.0801 10.9659 9.81713C10.9871 9.55413 10.9976 9.28175 10.9976 9C10.9976 8.71825 10.9871 8.44587 10.9659 8.18287C10.9447 7.91987 10.9106 7.649 10.8636 7.37025H7.13644C7.08944 7.649 7.05531 7.91987 7.03406 8.18287C7.01294 8.44587 7.00238 8.71825 7.00238 9C7.00238 9.28175 7.01294 9.55413 7.03406 9.81713C7.05531 10.0801 7.08944 10.351 7.13644 10.6298ZM11.9884 10.6298H14.7765C14.8486 10.375 14.9039 10.1101 14.9423 9.83513C14.9808 9.56013 15 9.28175 15 9C15 8.71825 14.9808 8.43988 14.9423 8.16488C14.9039 7.88988 14.8486 7.625 14.7765 7.37025H11.9884C12.0355 7.649 12.0697 7.92231 12.0909 8.19019C12.1121 8.45794 12.1226 8.72788 12.1226 9C12.1226 9.27213 12.1121 9.54206 12.0909 9.80981C12.0697 10.0777 12.0355 10.351 11.9884 10.6298ZM11.7606 6.24525H14.3048C13.9039 5.45675 13.3763 4.80238 12.7219 4.28213C12.0675 3.762 11.311 3.40625 10.4524 3.21488C10.7399 3.65138 10.9956 4.12881 11.2196 4.64719C11.4438 5.16544 11.6241 5.69813 11.7606 6.24525ZM7.39463 6.24525H10.6054C10.4313 5.61825 10.2123 5.04056 9.94838 4.51219C9.68438 3.98381 9.36825 3.48506 9 3.01594C8.63175 3.48506 8.31563 3.98381 8.05163 4.51219C7.78775 5.04056 7.56875 5.61825 7.39463 6.24525ZM3.69525 6.24525H6.23944C6.37594 5.69813 6.55625 5.16544 6.78038 4.64719C7.00438 4.12881 7.26013 3.65138 7.54763 3.21488C6.68413 3.40625 5.92644 3.76325 5.27456 4.28588C4.62256 4.80838 4.09613 5.4615 3.69525 6.24525Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
    }
    header.fixed .tnb .artere::after {
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.98081 15.375C3.60194 15.375 3.28125 15.2438 3.01875 14.9813C2.75625 14.7188 2.625 14.3981 2.625 14.0192V3.98081C2.625 3.60194 2.75625 3.28125 3.01875 3.01875C3.28125 2.75625 3.60194 2.625 3.98081 2.625H8.71144V3.75H3.98081C3.92306 3.75 3.87019 3.77406 3.82219 3.82219C3.77406 3.87019 3.75 3.92306 3.75 3.98081V14.0192C3.75 14.0769 3.77406 14.1298 3.82219 14.1778C3.87019 14.2259 3.92306 14.25 3.98081 14.25H14.0192C14.0769 14.25 14.1298 14.2259 14.1778 14.1778C14.2259 14.1298 14.25 14.0769 14.25 14.0192V9.28856H15.375V14.0192C15.375 14.3981 15.2438 14.7188 14.9813 14.9813C14.7188 15.2438 14.3981 15.375 14.0192 15.375H3.98081ZM7.28944 11.5009L6.49913 10.7106L13.4597 3.75H10.5V2.625H15.375V7.5H14.25V4.54031L7.28944 11.5009Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
    }
    /* 오버 */
    header.fixed .tnb .lang:hover {
        color: #D1272E;
    }
    header.fixed .lang:hover::before {
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 16.125C8.02313 16.125 7.10125 15.9377 6.23438 15.5633C5.3675 15.1888 4.6115 14.6789 3.96637 14.0336C3.32112 13.3885 2.81125 12.6325 2.43675 11.7656C2.06225 10.8988 1.875 9.97688 1.875 9C1.875 8.01538 2.06225 7.09156 2.43675 6.22856C2.81125 5.36556 3.32112 4.6115 3.96637 3.96637C4.6115 3.32112 5.3675 2.81125 6.23438 2.43675C7.10125 2.06225 8.02313 1.875 9 1.875C9.98462 1.875 10.9084 2.06225 11.7714 2.43675C12.6344 2.81125 13.3885 3.32112 14.0336 3.96637C14.6789 4.6115 15.1888 5.36556 15.5633 6.22856C15.9377 7.09156 16.125 8.01538 16.125 9C16.125 9.97688 15.9377 10.8988 15.5633 11.7656C15.1888 12.6325 14.6789 13.3885 14.0336 14.0336C13.3885 14.6789 12.6344 15.1888 11.7714 15.5633C10.9084 15.9377 9.98462 16.125 9 16.125ZM9 14.9841C9.38275 14.4764 9.70487 13.9644 9.96638 13.4481C10.2279 12.9317 10.4409 12.3673 10.6054 11.7548H7.39463C7.56875 12.3865 7.78419 12.9606 8.04094 13.4769C8.29756 13.9933 8.61725 14.4957 9 14.9841ZM7.54763 14.7778C7.26013 14.3653 7.00194 13.8964 6.77306 13.371C6.54419 12.8455 6.36631 12.3068 6.23944 11.7548H3.69525C4.09138 12.5336 4.62262 13.188 5.289 13.7179C5.95537 14.2476 6.70825 14.6009 7.54763 14.7778ZM10.4524 14.7778C11.2918 14.6009 12.0446 14.2476 12.711 13.7179C13.3774 13.188 13.9086 12.5336 14.3048 11.7548H11.7606C11.6096 12.3115 11.4196 12.8526 11.1908 13.3781C10.962 13.9036 10.7159 14.3702 10.4524 14.7778ZM3.2235 10.6298H6.01163C5.9645 10.351 5.93031 10.0777 5.90906 9.80981C5.88794 9.54206 5.87738 9.27213 5.87738 9C5.87738 8.72788 5.88794 8.45794 5.90906 8.19019C5.93031 7.92231 5.9645 7.649 6.01163 7.37025H3.2235C3.15138 7.625 3.09613 7.88988 3.05775 8.16488C3.01925 8.43988 3 8.71825 3 9C3 9.28175 3.01925 9.56013 3.05775 9.83513C3.09613 10.1101 3.15138 10.375 3.2235 10.6298ZM7.13644 10.6298H10.8636C10.9106 10.351 10.9447 10.0801 10.9659 9.81712C10.9871 9.55412 10.9976 9.28175 10.9976 9C10.9976 8.71825 10.9871 8.44588 10.9659 8.18288C10.9447 7.91988 10.9106 7.649 10.8636 7.37025H7.13644C7.08944 7.649 7.05531 7.91988 7.03406 8.18288C7.01294 8.44588 7.00238 8.71825 7.00238 9C7.00238 9.28175 7.01294 9.55412 7.03406 9.81712C7.05531 10.0801 7.08944 10.351 7.13644 10.6298ZM11.9884 10.6298H14.7765C14.8486 10.375 14.9039 10.1101 14.9423 9.83513C14.9808 9.56013 15 9.28175 15 9C15 8.71825 14.9808 8.43988 14.9423 8.16488C14.9039 7.88988 14.8486 7.625 14.7765 7.37025H11.9884C12.0355 7.649 12.0697 7.92231 12.0909 8.19019C12.1121 8.45794 12.1226 8.72788 12.1226 9C12.1226 9.27213 12.1121 9.54206 12.0909 9.80981C12.0697 10.0777 12.0355 10.351 11.9884 10.6298ZM11.7606 6.24525H14.3048C13.9039 5.45675 13.3763 4.80238 12.7219 4.28213C12.0675 3.762 11.311 3.40625 10.4524 3.21488C10.7399 3.65138 10.9956 4.12881 11.2196 4.64719C11.4438 5.16544 11.6241 5.69813 11.7606 6.24525ZM7.39463 6.24525H10.6054C10.4313 5.61825 10.2123 5.04056 9.94838 4.51219C9.68438 3.98381 9.36825 3.48506 9 3.01594C8.63175 3.48506 8.31563 3.98381 8.05163 4.51219C7.78775 5.04056 7.56875 5.61825 7.39463 6.24525ZM3.69525 6.24525H6.23944C6.37594 5.69813 6.55625 5.16544 6.78038 4.64719C7.00437 4.12881 7.26013 3.65138 7.54763 3.21488C6.68413 3.40625 5.92644 3.76325 5.27456 4.28588C4.62256 4.80838 4.09613 5.4615 3.69525 6.24525Z' fill='%23D1272E'/%3E%3C/svg%3E%0A");
    }
    header.fixed .tnb .artere:hover {
        color: #D1272E;
    }
    header.fixed .tnb .artere:hover::after {
        background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.98081 15.375C3.60194 15.375 3.28125 15.2438 3.01875 14.9813C2.75625 14.7188 2.625 14.3981 2.625 14.0192V3.98081C2.625 3.60194 2.75625 3.28125 3.01875 3.01875C3.28125 2.75625 3.60194 2.625 3.98081 2.625H8.71144V3.75H3.98081C3.92306 3.75 3.87019 3.77406 3.82219 3.82219C3.77406 3.87019 3.75 3.92306 3.75 3.98081V14.0192C3.75 14.0769 3.77406 14.1298 3.82219 14.1778C3.87019 14.2259 3.92306 14.25 3.98081 14.25H14.0192C14.0769 14.25 14.1298 14.2259 14.1778 14.1778C14.2259 14.1298 14.25 14.0769 14.25 14.0192V9.28856H15.375V14.0192C15.375 14.3981 15.2438 14.7188 14.9813 14.9813C14.7188 15.2438 14.3981 15.375 14.0192 15.375H3.98081ZM7.28944 11.5009L6.49913 10.7106L13.4597 3.75H10.5V2.625H15.375V7.5H14.25V4.54031L7.28944 11.5009Z' fill='%23D1272E'/%3E%3C/svg%3E%0A");
    }

    /* 메뉴에 마우스 오버 한 경우 */
    header.menu_over::before {
        position: absolute; /* header를 기준으로 정렬 */
        left: 0;
        top: 0;
        z-index: -1;
        /* 정렬의 기준이 되는 header 내부에서
            가장 하단으로 배치한다는 명령
            --visual 아래로는 내려가지 않음 */
        width: 100%;
        height: 410px;
        background-color: #fff;
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);
        content: "";
    }
    header.menu_over::after {
        position: absolute;
        left: 0;
        top: 100px;
        width: 100%;
        height: 1px;
        background-color: #ededed;
        content: "";
    }
    header.menu_over .gnb .gnb_wrap ul.depth2 {
        display: block;
    }
}/* media */
@media screen and (max-width:1300px) and (min-width:1025px) {
    header .gnb .gnb_wrap ul.depth1  > li > a {
        font-size: 20px;
    }
}

@media screen and (max-width:1024px) { /* 1024이하 모바일버전 */
    header .gnb .gnb_open {
        position: absolute; /* header를 기준으로 정렬 */
        right: 0;
        top: 0;
        width: 50px;
        height: 100%; /* header의 높이와 동일 */
        font-size: 0;
        line-height: 0;
    } 
    header .gnb .gnb_open::before {
        position: absolute;
        left: 50%;
        top: 50%; /* gnb_open 사이즈가 바뀌어도 아이콘을 위아래/좌우 가운데 배치 */
        transform: translate(-50%, -50%);
        width: 30px;
        height: 30px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.5 17.6347V16.135H20.5V17.6347H3.5ZM3.5 12.7502V11.2502H20.5V12.7502H3.5ZM3.5 7.86547V6.36572H20.5V7.86547H3.5Z' fill='white'/%3E%3C/svg%3E%0A");
        content: "";
    }
    header.fixed .gnb .gnb_open::before {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.5 17.6347V16.135H20.5V17.6347H3.5ZM3.5 12.7502V11.2502H20.5V12.7502H3.5ZM3.5 7.86547V6.36572H20.5V7.86547H3.5Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap {
        display: none;
        position: absolute; /* header 기준으로 정렬 */
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh; /* 브라우저 높이 */
        background-color: #fff;
        color: #1d1d1d;
    } 
    header .gnb .gnb_wrap ul.depth1 {
        margin-top: 100px;
        height: calc(100vh - 100px);
        overflow-y: auto;
        /* 좌우스크롤 바 금지, 세로스크롤바는 만약 내부 콘텐츠의 길이가 높이보다 길면 스크롤바 생김 */
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        border-bottom: 1px solid #c5c5c5;
    }
    header .gnb .gnb_wrap ul.depth1 > li:first-child {
        border-top: 1px solid #c5c5c5;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        line-height: 3;
        font-size: 20px;
        font-weight: 700;
        padding: 0 20px;
        color: #1d1d1d;
        position: relative;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a::after {
        position: absolute;
        right: 0;
        top: 18px;
        width: 25px;
        height: 25px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.4998 13.4855L17.2915 8.69385L18.3892 9.7915L12.4998 15.6808L6.61051 9.7915L7.70817 8.69385L12.4998 13.4855Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
        content: "";
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > a {
        color: #D1272E;
    }
    header .gnb .gnb_wrap ul.depth1 > li.open > a::after {
        background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.5002 11.5145L7.7085 16.3062L6.61084 15.2085L12.5002 9.31917L18.3895 15.2085L17.2918 16.3062L12.5002 11.5145Z' fill='%23D1272E'/%3E%3C/svg%3E%0A");
    }
    header .gnb .gnb_wrap ul.depth2 {
        display: none;
        background-color: #EFF3F5;
        padding: 13px 30px;
    }
    header .gnb .gnb_wrap .open ul.depth2 {
        display: block;
    }
    header .gnb .gnb_wrap ul.depth2 li > a {
        display: block;
        line-height: 2;
        color:#3d3d3d;
    }
    header .gnb .gnb_close {
        display: none;
        position: absolute; /* header를 기준으로 정렬 */
        right: 0;
        top: 0;
        width: 50px;
        height: 100%; /* header의 높이와 동일 */
        font-size: 0;
        line-height: 0;
    }
    header .gnb .gnb_close::before {
        position: absolute;
        left: 50%;
        top: 50%; /* gnb_open 사이즈가 바뀌어도 아이콘을 위아래/좌우 가운데 배치 */
        transform: translate(-50%, -50%);
        width: 30px;
        height: 30px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.39994 18.6537L5.34619 17.5999L10.9462 11.9999L5.34619 6.39994L6.39994 5.34619L11.9999 10.9462L17.5999 5.34619L18.6537 6.39994L13.0537 11.9999L18.6537 17.5999L17.5999 18.6537L11.9999 13.0537L6.39994 18.6537Z' fill='%235F6368'/%3E%3C/svg%3E%0A");
        content: "";
    }
    header .tnb {
        display: none;
        position: absolute;
        left: 20px;
        top: 42px;
        color: #1d1d1d;
        font-size: 15px;
        font-weight: 700;
    }
    header .tnb .lang {
        display: block;
        padding-left: 15px;
        position: relative;
        margin-right: 15px;
    }
    header .tnb .lang::before {
        position: absolute;
        top: 2px;
        left: 0;
        width: 15px;
        height: 15px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 13.4375C6.68594 13.4375 5.91771 13.2815 5.19531 12.9694C4.47292 12.6573 3.84292 12.2324 3.30531 11.6947C2.7676 11.1571 2.34271 10.5271 2.03063 9.80469C1.71854 9.08229 1.5625 8.31406 1.5625 7.5C1.5625 6.67948 1.71854 5.90964 2.03063 5.19047C2.34271 4.4713 2.7676 3.84292 3.30531 3.30531C3.84292 2.7676 4.47292 2.34271 5.19531 2.03063C5.91771 1.71854 6.68594 1.5625 7.5 1.5625C8.32052 1.5625 9.09036 1.71854 9.80953 2.03063C10.5287 2.34271 11.1571 2.7676 11.6947 3.30531C12.2324 3.84292 12.6573 4.4713 12.9694 5.19047C13.2815 5.90964 13.4375 6.67948 13.4375 7.5C13.4375 8.31406 13.2815 9.08229 12.9694 9.80469C12.6573 10.5271 12.2324 11.1571 11.6947 11.6947C11.1571 12.2324 10.5287 12.6573 9.80953 12.9694C9.09036 13.2815 8.32052 13.4375 7.5 13.4375ZM7.5 12.4867C7.81896 12.0637 8.0874 11.637 8.30531 11.2067C8.52323 10.7764 8.70073 10.306 8.83781 9.79563H6.16219C6.30729 10.3221 6.48682 10.8005 6.70078 11.2308C6.91464 11.6611 7.18104 12.0797 7.5 12.4867ZM6.28969 12.3148C6.0501 11.9711 5.83495 11.5803 5.64422 11.1425C5.45349 10.7046 5.30526 10.2556 5.19953 9.79563H3.07938C3.40948 10.4447 3.85219 10.99 4.4075 11.4316C4.96281 11.873 5.59021 12.1674 6.28969 12.3148ZM8.71031 12.3148C9.40979 12.1674 10.0372 11.873 10.5925 11.4316C11.1478 10.99 11.5905 10.4447 11.9206 9.79563H9.80047C9.67463 10.2596 9.51635 10.7105 9.32563 11.1484C9.135 11.5864 8.9299 11.9752 8.71031 12.3148ZM2.68625 8.85813H5.00969C4.97042 8.62583 4.94193 8.39807 4.92422 8.17484C4.90661 7.95172 4.89781 7.72677 4.89781 7.5C4.89781 7.27323 4.90661 7.04828 4.92422 6.82516C4.94193 6.60193 4.97042 6.37417 5.00969 6.14188H2.68625C2.62615 6.35417 2.5801 6.5749 2.54813 6.80406C2.51604 7.03323 2.5 7.26521 2.5 7.5C2.5 7.73479 2.51604 7.96677 2.54813 8.19594C2.5801 8.4251 2.62615 8.64583 2.68625 8.85813ZM5.94703 8.85813H9.05297C9.09214 8.62583 9.12057 8.4001 9.13828 8.18094C9.15589 7.96177 9.16469 7.73479 9.16469 7.5C9.16469 7.26521 9.15589 7.03823 9.13828 6.81906C9.12057 6.5999 9.09214 6.37417 9.05297 6.14188H5.94703C5.90786 6.37417 5.87943 6.5999 5.86172 6.81906C5.84411 7.03823 5.83531 7.26521 5.83531 7.5C5.83531 7.73479 5.84411 7.96177 5.86172 8.18094C5.87943 8.4001 5.90786 8.62583 5.94703 8.85813ZM9.99031 8.85813H12.3138C12.3739 8.64583 12.4199 8.4251 12.4519 8.19594C12.484 7.96677 12.5 7.73479 12.5 7.5C12.5 7.26521 12.484 7.03323 12.4519 6.80406C12.4199 6.5749 12.3739 6.35417 12.3138 6.14188H9.99031C10.0296 6.37417 10.0581 6.60193 10.0758 6.82516C10.0934 7.04828 10.1022 7.27323 10.1022 7.5C10.1022 7.72677 10.0934 7.95172 10.0758 8.17484C10.0581 8.39807 10.0296 8.62583 9.99031 8.85813ZM9.80047 5.20438H11.9206C11.5866 4.54729 11.1469 4.00198 10.6016 3.56844C10.0562 3.135 9.42583 2.83854 8.71031 2.67906C8.9499 3.04281 9.16302 3.44068 9.34969 3.87266C9.53646 4.30453 9.68672 4.74844 9.80047 5.20438ZM6.16219 5.20438H8.83781C8.69271 4.68188 8.51021 4.20047 8.29031 3.76016C8.07031 3.31984 7.80688 2.90422 7.5 2.51328C7.19312 2.90422 6.92969 3.31984 6.70969 3.76016C6.48979 4.20047 6.30729 4.68188 6.16219 5.20438ZM3.07938 5.20438H5.19953C5.31328 4.74844 5.46354 4.30453 5.65031 3.87266C5.83698 3.44068 6.0501 3.04281 6.28969 2.67906C5.5701 2.83854 4.9387 3.13604 4.39547 3.57156C3.85214 4.00698 3.41344 4.55125 3.07938 5.20438Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
        content: "";
    } 
    header .tnb .artere {
        padding-right: 15px;
        position: relative;
    }
    header .tnb .artere::after {
        position: absolute;
        top: 2px;
        right: 0;
        width: 15px;
        height: 15px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.31734 12.8125C3.00161 12.8125 2.73438 12.7031 2.51562 12.4844C2.29688 12.2656 2.1875 11.9984 2.1875 11.6827V3.31734C2.1875 3.00161 2.29688 2.73438 2.51562 2.51562C2.73438 2.29688 3.00161 2.1875 3.31734 2.1875H7.25953V3.125H3.31734C3.26922 3.125 3.22516 3.14505 3.18516 3.18516C3.14505 3.22516 3.125 3.26922 3.125 3.31734V11.6827C3.125 11.7308 3.14505 11.7748 3.18516 11.8148C3.22516 11.8549 3.26922 11.875 3.31734 11.875H11.6827C11.7308 11.875 11.7748 11.8549 11.8148 11.8148C11.8549 11.7748 11.875 11.7308 11.875 11.6827V7.74047H12.8125V11.6827C12.8125 11.9984 12.7031 12.2656 12.4844 12.4844C12.2656 12.7031 11.9984 12.8125 11.6827 12.8125H3.31734ZM6.07453 9.58406L5.41594 8.92547L11.2164 3.125H8.75V2.1875H12.8125V6.25H11.875V3.78359L6.07453 9.58406Z' fill='%231D1D1D'/%3E%3C/svg%3E%0A");
        content: "";
    }
    header.menu_open .gnb .gnb_open {
        display: none;
    }
    header.menu_open .gnb .gnb_wrap {
        display: block;
    } 
    header.menu_open .gnb .gnb_close {
        display: block;
    }
    header.menu_open .tnb {
        display: flex;
    }
}
@media screen and (max-width:768px) {
    header {
        height: 50px;
    }
    header .logo {
        margin-top: 9px;
    }
    header .logo a {
        width: 96px;
        height: 32px;
    }
    header .gnb .gnb_open::before {
        width: 24px;
        height: 24px;
    }
    header .gnb .gnb_wrap ul.depth1 {
        margin-top: 50px;
        height: calc(100vh - 50px);
    }
    header .gnb .gnb_close::before {
        width: 24px;
        height: 24px;
    }
    header .tnb {
        top: 17px;
        font-size: 13px;
    }
}

footer {
    padding: 65px 0 95px 0;
    background-color: #1d1d1d;
    color: rgba(255,255,255,0.8);
}
footer .wrapper {
    position: relative;
}
footer .youtube {
    position: absolute;
    right: 186px;
    top: 16px;
}
footer .youtube a {
    display: block;
    font-size: 0;
    line-height: 0;
}
footer .youtube a::before {
    position: absolute;
    width: 36px;
    height: 36px;
    right: 0;
    top: 0;
    background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_47_104)'%3E%3Cpath d='M26.8877 0H9.11228C4.07971 0 0 4.07971 0 9.11228V26.8877C0 31.9203 4.07971 36 9.11228 36H26.8877C31.9203 36 36 31.9203 36 26.8877V9.11228C36 4.07971 31.9203 0 26.8877 0Z' fill='%23FF0000'/%3E%3Cpath d='M27.5164 15.8293C27.5164 13.4739 25.6001 11.5576 23.2447 11.5576H12.3259C9.97047 11.5576 8.0542 13.4739 8.0542 15.8293V20.9094C8.0542 23.2649 9.96049 25.1811 12.3259 25.1811H23.2447C25.6001 25.1811 27.5164 23.2748 27.5164 20.9094V15.8293ZM21.0988 18.7436L16.2083 21.1689C16.0187 21.2687 15.36 21.129 15.36 20.9194V15.9491C15.36 15.7295 16.0187 15.5898 16.2083 15.6996L20.8892 18.2446C21.0889 18.3544 21.2885 18.6438 21.0889 18.7436H21.0988Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_47_104'%3E%3Crect width='36' height='36' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
footer .family_site {
    position: absolute;
    right: 0;
    top: 15px;
    width: 176px;
}
footer .family_site button {
    width: 100%;
    height: 38px;
    border: 1px solid rgba(255,255,255,0.8);
    text-align: left;
    padding-left: 15px;
    position: relative;
}
footer .family_site button::after {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 10px;
    height: 6px;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.28854 4.24349L9.12187 0.410156L10 1.28828L5.28854 5.99974L0.577083 1.28828L1.45521 0.410156L5.28854 4.24349Z' fill='white' fill-opacity='0.8'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
footer .family_site button.family_close::after {
    transform: rotate(180deg);
}
footer .family_site ul {
    display: none;
    position: absolute;
    left: 0;
    bottom: 45px;
    width: 100%;
    background-color: #1d1d1d;
    border: 1px solid rgba(255,255,255,0.8);
    padding: 10px 15px;
}
footer .family_site ul li a {
    display: block;
    line-height: 2;
}
footer .family_site .family_close {
    display: none;
}
footer .family_site.open .family_open {
    display: none;
}
footer .family_site.open .family_close {
    display: block;
}
footer .f_nav ul {
    display: flex;
}
footer .f_nav ul li {
    margin-right: 36px;
    position: relative;
}
footer .f_nav ul li::after {
    position: absolute;
    right: -18px;
    top: 5px;
    width: 1px;
    height: 12px;
    background-color: rgba(255,255,255,0.2);
    content: "";
} 
footer .f_nav ul li:last-child::after {
    display: none;
}
footer .copyright {
    margin-top: 15px;
    color: rgba(255,255,255,0.6);
    font-size: 13px;
}

@media screen and (max-width:1300px) {

}
@media screen and (max-width:1024px) {

}
@media screen and (max-width:768px) {
    footer {
        padding: 50px 0 60px 0;
    }
    footer .youtube {
        position: relative;
        right: auto;
        top: 30px;
        text-align: center;
    }
    footer .youtube a {
        display: block;
        font-size: 0;
        line-height: 0;
    }
    footer .youtube a::before {
        position: absolute;
        width: 36px;
        height: 36px;
        right: auto;
        top: 0;
        background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_47_104)'%3E%3Cpath d='M26.8877 0H9.11228C4.07971 0 0 4.07971 0 9.11228V26.8877C0 31.9203 4.07971 36 9.11228 36H26.8877C31.9203 36 36 31.9203 36 26.8877V9.11228C36 4.07971 31.9203 0 26.8877 0Z' fill='%23FF0000'/%3E%3Cpath d='M27.5164 15.8293C27.5164 13.4739 25.6001 11.5576 23.2447 11.5576H12.3259C9.97047 11.5576 8.0542 13.4739 8.0542 15.8293V20.9094C8.0542 23.2649 9.96049 25.1811 12.3259 25.1811H23.2447C25.6001 25.1811 27.5164 23.2748 27.5164 20.9094V15.8293ZM21.0988 18.7436L16.2083 21.1689C16.0187 21.2687 15.36 21.129 15.36 20.9194V15.9491C15.36 15.7295 16.0187 15.5898 16.2083 15.6996L20.8892 18.2446C21.0889 18.3544 21.2885 18.6438 21.0889 18.7436H21.0988Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_47_104'%3E%3Crect width='36' height='36' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
    }
    footer .family_site {
        position: relative;
        right: auto;
        top: auto;
        width: 100%;
        margin: 0 auto 0 auto;
        font-size: 13px;
    }
    footer .f_nav ul {
        flex-wrap: wrap;
        margin: 90px 20px 0 0;
    }
    footer .f_nav ul li {
        margin-right: 36px;
        position: relative;
        font-size: 13px;
    }
    footer .f_nav ul li::after {
        right: -19px;
        top: 4px;
        height: 11px;
    }
    footer .copyright {
        margin-top: 10px;
        font-size: 12px;
    }
}
