@import url(default.css);
@import url(fonts.css);
@import url(common.css); 
@import url(layout.css); 

.visual h2 {
    display: none;
}
.visual ul li {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; /* 브라우저 높이만큼 */
    min-height: 450px; /* 최소 높이 */
    color: #fff;
    text-align: center;
}
.visual ul li.bg1 {
    background-image: url(../images/visual_bg1.png);
}
.visual ul li.bg2 {
    background-image: url(../images/visual_bg2.png);
}
.visual ul li.bg3 {
    background-image: url(../images/visual_bg3.png);
}
.visual ul li h3 {
    font-size: 45px;
    font-weight: 400;
    line-height: 1.1;
    margin: 34vh 0 0 0;
}
.visual ul li p {
    margin: 5px 0 0 0;
    font-size: 15px
}
.visual .btn_wrap {
    position: absolute; /* swiper를 기준으로 정렬 */
    left: 50%;
    bottom: 81px;
    transform: translate(-50%, 0);
    /* 정렬이 되는 기준 swiper의 넓이의 왼쪽 50%부터 (left:50%) 정렬
        btn_wrap 넓이와 절반을 왼쪽으로 이동 (transform)
        그럼 가운데 정렬이 됨 */
    z-index: 10;
    color: #fff;
    display: flex;
}
.visual .btn_wrap .paging {
    width: auto; /* swiper가 준  width:100% 속성 삭제 */
}
.visual .btn_wrap .paging .swiper-pagination-bullet {
    width: 150px;
    height: 5px;
    border-radius: 0;
    background-color: rgba(255,255,255,0.5);
    position: relative;
}
.visual .btn_wrap .paging .swiper-pagination-bullet-active::before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #fff;
    content: "";
    animation-name: visual_count;
    animation-duration: 5s;
    animation-iteration-count: 1; /* 1번만 실행 */
    animation-fill-mode: forwards; /* 종료 후에 마지막상태 유지, 애니메이션 반복횟수가 제한되었을 때 */
}
@keyframes visual_count {
    0% { width:0;}
    100% { width:100%; }
}
.visual .btn_wrap button {
    width: 24px;
    height: 24px;
    font-size: 0;
    line-height: 0;
    position: relative; /* before 정렬의 기준 */
}
.visual .btn_wrap button::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
}
.visual .btn_wrap button.btn_prev::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.9999 17.6537L8.34619 11.9999L13.9999 6.34619L15.0537 7.39994L10.4537 11.9999L15.0537 16.5999L13.9999 17.6537Z' fill='white'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_stop::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.5 18.0958V5.90381L18.0768 11.9998L8.5 18.0958ZM10 15.3498L15.2693 11.9998L10 8.64981V15.3498Z' fill='white'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_play {
    display: none; /* 현재 플레이중이라 일시정지만 나옴 */
}
.visual .btn_wrap button.btn_play::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.25 18.5V5.5H18.5V18.5H13.25ZM5.5 18.5V5.5H10.75V18.5H5.5ZM14.75 17H17V7H14.75V17ZM7 17H9.25V7H7V17Z' fill='white'/%3E%3C/svg%3E%0A");
}
.visual .btn_wrap button.btn_next::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.9462 11.9999L8.34619 7.39994L9.39994 6.34619L15.0537 11.9999L9.39994 17.6537L8.34619 16.5999L12.9462 11.9999Z' fill='white'/%3E%3C/svg%3E%0A");
}

@media screen and (max-width:1300px){}
@media screen and (max-width:1024px){}
@media screen and (max-width:768px){ /* 모바일 디자인 적용 */
    .visual ul li {
        height: 420px;
        min-height: 420px; /* 최소 높이 */
        color: #fff;
        text-align: center;
    }
    .visual ul li h3 {
        font-size: 25px;
        margin: 165px 33px 0 33px;
    }
    .visual ul li p {
        margin: 5px 0 0 0;
        font-size: 13px
    }
    .visual .btn_wrap button.btn_prev {
        display: none;
    }
    .visual .btn_wrap button.btn_next {
        display: none;
    }   
    .visual .btn_wrap .paging .swiper-pagination-bullet {
        display: none;
    }
}
@media screen and (max-width:500px){}