@import url(default.css);
@import url(fonts.css);
@import url(common.css); 
@import url(layout.css); 

/* 
    각각의 서브 콘텐츠 페이지의 콘텐츠 내용을 코딩
    제일 중요한 것은 이름이 겹치면 안된다는 것
    규칙 cts_페이지명 감싸서 절대 다른 페이지와 이름이 겹치지 않도록
*/

/* 회사소개 - ceo인사말 */
     
.cts_ceo {
    margin: 30px 0 235px 0;
}
.cts_ceo .wrapper {
    display: flex;
    justify-content: space-between;
}
.cts_ceo .photo_wrap {
    font-size: 0;
    line-height: 0;
    border-radius: 40px;
    position: relative;
    height: 631px;
}
.cts_ceo .photo_wrap::before {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 1000px;
    height: 387px;
    background-color: #D1272E;
    border-radius: 0 40px 40px 0;
    content: "";
}
.cts_ceo .photo_wrap img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.cts_ceo .txt_wrap {
    width: calc(100% - 650px);
}
.cts_ceo .txt_wrap .tit p {
    color: #1d1d1d;
    font-size: 22px;
    line-height: 1.3;
}
.cts_ceo .txt_wrap .tit p strong {
    font-weight: 700;
}
.cts_ceo .txt_wrap .txt p {
    margin: 30px 0 5px 0;
}
.cts_ceo .txt_wrap .sign {
    display: flex;
    justify-content: flex-end;
}
.cts_ceo .txt_wrap .sign strong {
    margin: 30px 30px 0 0;
    font-size: 18px;
    font-weight: 700;
    color: #2d2d2d;
}
@media screen and (max-width:1300px){
    
}
@media screen and (max-width:1024px){
    .cts_ceo {
        margin: 30px 0 100px 0;
    }
    .cts_ceo .wrapper {
        display: block;
    }
    .cts_ceo .txt_wrap {
        width: auto;
    }
    .cts_ceo .txt_wrap .tit p {
        margin-top: 40px;
        font-size: 20px;
        text-align: center;
    }
}
@media screen and (max-width:768px){
    .cts_ceo {
        margin: 30px 0 50px 0;
    }
    .cts_ceo .wrapper {
        display: block;
    }
    .cts_ceo .photo_wrap {
        font-size: 0;
        line-height: 0;
        border-radius: 40px;
        position: relative;
    }
    .cts_ceo .photo_wrap::before {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
        width: 1000px;
        height: 387px;
        background-color: #D1272E;
        border-radius: 0 40px 40px 0;
        content: "";
    }
    .cts_ceo .photo_wrap img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .cts_ceo .txt_wrap {
        width: auto;
    }
    .cts_ceo .txt_wrap .tit p {
        margin-top: 40px;
        font-size: 16px;
        text-align: center;
        margin: 15px 0 15px 0;
    }
    .cts_ceo .txt_wrap .sign {
        flex-direction: column;
        text-align: center;
    }
    .cts_ceo .txt_wrap .sign strong {
        margin: 15px 0 15px 0;
        font-size: 15px;
    }
}
@media screen and (max-width:540px) {
    .cts_ceo .photo_wrap {
        margin-left: 132px;
        width: 208px;
        height: 297px;
    }
    .cts_ceo .photo_wrap::before {
        right: -7px;
        bottom: 9px;
        height: 144px;
    }
}

/* 회사소개 - 연혁 */
.cts_history {
    margin: 28px 0 150px 0;
}
.cts_history .tab_area .tab_btn {
    overflow-x: auto;
    /* 만약 ul의 넓이가 tab_btn보다 넓어지면 스크롤바 발생 */
    overflow-y: hidden;
}
.cts_history .tab_area .tab_btn ul {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}
.cts_history .tab_area .tab_btn ul li button {
    /* padding: 27px 93px 26px 92px; */
    width: 297px;
    height: 80px;
    background-color:#fff;
    border: 2px solid #2d2d2d;
    border-radius: 30px;
    font-size: 22px;
    color: #1d1d1d;
    white-space: nowrap;
}
.cts_history .tab_area .tab_btn ul li.active button,
.cts_history .tab_area .tab_btn ul li button:hover  {
    /* padding: 27px 93px 26px 88px; */
    background-color:#D1272E;
    border: 2px solid #690B0B;
    color: #fff;
    font-weight: 700;
}
/* div 중에서 role="tabpanel" 속성을 갖은 div 선택 */
.cts_history .tab_area .tab_cnt div[role="tabpanel"] .history_tit {
    margin: 48px 0 78px 0;
    height: 505px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/contents/history_tit_bg1.png);
    color: #fff;
    text-align: center;
}
.cts_history .tab_area .tab_cnt div[role="tabpanel"] .history_tit.bg1 {
    background-image: url(../images/contents/history_tit_bg1.png);
}
.cts_history .tab_area .tab_cnt div[role="tabpanel"] .history_tit.bg2 {
    background-image: url(../images/contents/history_tit_bg2.png);
}
.cts_history .tab_area .tab_cnt div[role="tabpanel"] .history_tit.bg3 {
    background-image: url(../images/contents/history_tit_bg3.png);
}
.cts_history .tab_area .tab_cnt div[role="tabpanel"] .history_tit.bg4 {
    background-image: url(../images/contents/history_tit_bg4.png);
}  
.cts_history .tab_area .tab_cnt div[role="tabpanel"] .history_tit h3 {
    display: block;
    padding-top: 225px;
    font-size: 45px;
    font-weight: 700;
} 
.cts_history .tab_area .tab_cnt div[role="tabpanel"] .history_tit h3 span {
    border-bottom: 2px solid #fff;
}
.cts_history .history_list {
    position: relative;
}
.cts_history .history_list::before {
    position: absolute;
    left: 50%;
    top: 23px;
    width: 1px;
    height: calc(100% - 23px);
    background-color: #c3c3c3;
    content: "";
}
.cts_history .history_list .year_wrap {
    margin-bottom: 45px;
}
.cts_history .history_list .year_wrap:last-child {
    margin-bottom: 0;
    position: relative; /* before 정렬의 기준 */
}
.cts_history .history_list .year_wrap:last-child::before {
    position: absolute;
    left: 50%;
    top: 23px;
    width: 1px;
    height: calc(100% - 23px);
    background-color: #fff;
    content: "";
}
.cts_history .history_list .year_wrap.right {
    padding-left: calc(50% + 30px);
}
.cts_history .history_list .year_wrap.left {
    padding-right: calc(50% + 30px);
    text-align: right;
}
.cts_history .history_list .year_wrap.left ul li {
    flex-direction: row-reverse;
    /* 좌우 순서 반전 */
}
.cts_history .history_list .year_wrap h4 {
    color: #D1272E;
    font-size: 28px;
    font-weight: 700;
    margin: 0 0 15px 0;
    position: relative; /* before 정렬의 기준 */
}
.cts_history .history_list .year_wrap h4::before {
    position: absolute;
    left: -33px;
    top: 17px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #D1272E;
    content: "";
}
.cts_history .history_list .year_wrap.left h4::before {
    left: auto;
    right: -34px;
}
.cts_history .history_list .year_wrap ul li {
    display: flex;
    margin: 0 0 8px 0;
}
.cts_history .history_list .year_wrap ul li strong {
    color: #1d1d1d;
    font-weight: 700;
    width: 5em; /* 글자 옆 여백까지 */
}
.cts_history .history_list .year_wrap ul li span {
    width: calc(100% - 5em);
}
@media screen and (max-width:1300px) {
    .cts_history .tab_area .tab_cnt div[role="tabpanel"] .history_tit h3 {
        padding-top: 230px;
        font-size: 40px;
    }
}
@media screen and (max-width:1024px) {
    .cts_history .tab_area .tab_btn ul {
        justify-content: flex-start;
    }
    .cts_history .tab_area .tab_btn ul li button {
        width: 218px;
        height: 59px;
        border: 1px solid #2d2d2d;
        border-radius: 20px;
        font-size: 18px;
    }
    .cts_history .tab_area .tab_btn ul li.active button,
    .cts_history .tab_area .tab_btn ul li button:hover  {
        border: 1px solid #690B0B;
    }
    .cts_history .history_list .year_wrap h4 {
        font-size: 26px;
    }
}
@media screen and (max-width:768px) {
    .cts_history {
        margin: 15px 0 210px 0;
    }
    .cts_history .tab_area .tab_btn ul {
        gap: 5px;
    }
    .cts_history .tab_area .tab_btn ul li button {
        width: 130px;
        height: 41px;
        border-radius: 15px;
        font-size: 15px;
    }
    .cts_history .tab_area .tab_btn ul li.active button,
    .cts_history .tab_area .tab_btn ul li button:hover  {
        border: 1px solid #690B0B;
    }
    /* div 중에서 role="tabpanel" 속성을 갖은 div 선택 */
    .cts_history .tab_area .tab_cnt div[role="tabpanel"] .history_tit {
        margin: 20px 0 24px 0;
        height: 170px;
    } 
    .cts_history .tab_area .tab_cnt div[role="tabpanel"] .history_tit h3 {
        padding-top: 71px;
        font-size: 23px;
    } 
    .cts_history .tab_area .tab_cnt div[role="tabpanel"] .history_tit h3 span {
        border-bottom: 1px solid #fff;
    }
    .cts_history .history_list {
        margin-top: 27px;
    }
    .cts_history .history_list::before {
        left: 0;
        top: 15px;
        height: calc(100% - 15px);
    }
    .cts_history .history_list .year_wrap {
        margin-bottom: 50px;
    }
    .cts_history .history_list .year_wrap:last-child {
        margin-bottom: 0;
    }
    .cts_history .history_list .year_wrap:last-child::before {
        position: absolute;
        left: 0;
        top: 15px;
        height: calc(100% - 15px);
    }
    .cts_history .history_list .year_wrap.right {
        padding-left: 15px;
    }
    .cts_history .history_list .year_wrap.left {
        padding-right: 0;
        padding-left: 15px;
        text-align: left;
    }
    .cts_history .history_list .year_wrap.left ul li {
        flex-direction: row;
    }
    .cts_history .history_list .year_wrap h4 {
        font-size: 20px;
        margin: 0 0 10px 0;
    }
    .cts_history .history_list .year_wrap h4::before {
        left: -17px;
        top: 12px;
        width: 6px;
        height: 6px;
    }
    .cts_history .history_list .year_wrap.left h4::before {
        left: -17px;
        right: auto;
        z-index: 10;
    }
    .cts_history .history_list .year_wrap ul li {
        margin: 0 0 5px 0;
        font-size: 13px;
    }
    .cts_history .history_list .year_wrap ul li strong {
        width: 5em; /* 글자 옆 여백까지 */
    }
    .cts_history .history_list .year_wrap ul li span {
        width: calc(100% - 5em);
    }
}
.cts_map .map iframe {
    width: 100%;
    height: 520px;
    border-radius: 0;
    border: 0;
    margin: 40px 0 25px 0;
}
.cts_map .map_addr .addr {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}
.cts_map .map_addr .addr .tit {
    font-size: 25px;
    color: #1d1d1d;
    font-weight: 700;
}
.cts_map .map_addr .tell {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    margin-bottom: 20px;
}
.cts_map .map_addr .tell h3{
    font-size: 25px;
    color: #1d1d1d;
    font-weight: 700;
}
.cts_map .map_addr .tell ul li {
    margin-bottom: 2px;
}
.cts_map .map_addr .ect .etc_1 {
    border-top: 1px solid #D9D9D9;
    color: #666666;
    margin-bottom: 10px;
}
.cts_map .map_addr .ect .etc_2 {
    background-color: #D9D9D9;
    width: 175px;
    height: 28px;
    border-radius: 18px;
    padding: 5px 12px;
}

.cts_map .con_box {
    margin-bottom: 50px;
}
.cts_map .con_box h2 {
    margin: 50px 0 25px 0;
    font-size: 25px;
    color: #1d1d1d;
    font-weight: 700;
}
.cts_map .con_box .box_wrap {
    display: flex;
    flex-wrap: nowrap;
    gap: 24px;
}
.cts_map .con_box .box_wrap .con_box {
    display: flex;
    width: 100%;
    height: 305px;
    border: 1px solid #D9D9D9;
    border-radius: 24px;
    align-items: center;
    justify-content: space-around;
}
.cts_map .con_box .box_wrap .con_box > p {
    display: inline-block;
    height: 50px;
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_243_324)'%3E%3Cpath d='M10 38.75V15C10 12.7917 10.5729 11.0312 11.7188 9.71875C12.8646 8.40625 14.375 7.40625 16.25 6.71875C18.125 6.03125 20.2604 5.57292 22.6562 5.34375C25.0521 5.11458 27.5 5 30 5C32.75 5 35.3438 5.11458 37.7812 5.34375C40.2188 5.57292 42.3438 6.03125 44.1562 6.71875C45.9688 7.40625 47.3958 8.40625 48.4375 9.71875C49.4792 11.0312 50 12.7917 50 15V38.75C50 41.2083 49.1562 43.2812 47.4688 44.9688C45.7812 46.6562 43.7083 47.5 41.25 47.5L45 51.25V52.5H40L35 47.5H25L20 52.5H15V51.25L18.75 47.5C16.2917 47.5 14.2188 46.6562 12.5312 44.9688C10.8438 43.2812 10 41.2083 10 38.75ZM30 10C25.5833 10 22.3542 10.2604 20.3125 10.7812C18.2708 11.3021 16.875 11.875 16.125 12.5H44.125C43.5 11.7917 42.1562 11.1979 40.0938 10.7188C38.0312 10.2396 34.6667 10 30 10ZM15 25H27.5V17.5H15V25ZM41.25 30H15H45H41.25ZM32.5 25H45V17.5H32.5V25ZM21.25 40C22.3333 40 23.2292 39.6458 23.9375 38.9375C24.6458 38.2292 25 37.3333 25 36.25C25 35.1667 24.6458 34.2708 23.9375 33.5625C23.2292 32.8542 22.3333 32.5 21.25 32.5C20.1667 32.5 19.2708 32.8542 18.5625 33.5625C17.8542 34.2708 17.5 35.1667 17.5 36.25C17.5 37.3333 17.8542 38.2292 18.5625 38.9375C19.2708 39.6458 20.1667 40 21.25 40ZM38.75 40C39.8333 40 40.7292 39.6458 41.4375 38.9375C42.1458 38.2292 42.5 37.3333 42.5 36.25C42.5 35.1667 42.1458 34.2708 41.4375 33.5625C40.7292 32.8542 39.8333 32.5 38.75 32.5C37.6667 32.5 36.7708 32.8542 36.0625 33.5625C35.3542 34.2708 35 35.1667 35 36.25C35 37.3333 35.3542 38.2292 36.0625 38.9375C36.7708 39.6458 37.6667 40 38.75 40ZM18.75 42.5H41.25C42.3333 42.5 43.2292 42.1458 43.9375 41.4375C44.6458 40.7292 45 39.8333 45 38.75V30H15V38.75C15 39.8333 15.3542 40.7292 16.0625 41.4375C16.7708 42.1458 17.6667 42.5 18.75 42.5ZM30 12.5H44.125H16.125H30Z' fill='%233D3D3D'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_243_324'%3E%3Crect width='60' height='60' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    padding-top: 50px;
    background-repeat: no-repeat;
    background-position: center center;
    content: "";
}
.cts_map .con_box .box_wrap .con_box > p > span {
    display: block;
    margin-top: 0;
    width: 61px;
    height: 24px;
    background-color: #356DC2;
    border-radius: 14px;
    color: #fff;
    padding: 2px 11px;
    font-weight: 700;
}
.cts_map .con_box .box_wrap .con_box {
    width: 618px;
    height: 305px;
    border: 1px solid #D9D9D9;
    border-radius: 24px;
}
.cts_map .con_box .box_wrap .con_box_r > p {
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 52.5C14.2917 52.5 13.6979 52.2604 13.2188 51.7812C12.7396 51.3021 12.5 50.7083 12.5 50V44.875C11.75 44.0417 11.1458 43.1146 10.6875 42.0938C10.2292 41.0729 10 39.9583 10 38.75V15C10 11.5417 11.6042 9.01042 14.8125 7.40625C18.0208 5.80208 23.0833 5 30 5C37.1667 5 42.2917 5.77083 45.375 7.3125C48.4583 8.85417 50 11.4167 50 15V38.75C50 39.9583 49.7708 41.0729 49.3125 42.0938C48.8542 43.1146 48.25 44.0417 47.5 44.875V50C47.5 50.7083 47.2604 51.3021 46.7812 51.7812C46.3021 52.2604 45.7083 52.5 45 52.5H42.5C41.7917 52.5 41.1979 52.2604 40.7188 51.7812C40.2396 51.3021 40 50.7083 40 50V47.5H20V50C20 50.7083 19.7604 51.3021 19.2812 51.7812C18.8021 52.2604 18.2083 52.5 17.5 52.5H15ZM30.125 12.5H44.125H16.125H30.125ZM40 30H15H45H40ZM15 25H45V17.5H15V25ZM21.25 40C22.2917 40 23.1771 39.6354 23.9062 38.9062C24.6354 38.1771 25 37.2917 25 36.25C25 35.2083 24.6354 34.3229 23.9062 33.5938C23.1771 32.8646 22.2917 32.5 21.25 32.5C20.2083 32.5 19.3229 32.8646 18.5938 33.5938C17.8646 34.3229 17.5 35.2083 17.5 36.25C17.5 37.2917 17.8646 38.1771 18.5938 38.9062C19.3229 39.6354 20.2083 40 21.25 40ZM38.75 40C39.7917 40 40.6771 39.6354 41.4062 38.9062C42.1354 38.1771 42.5 37.2917 42.5 36.25C42.5 35.2083 42.1354 34.3229 41.4062 33.5938C40.6771 32.8646 39.7917 32.5 38.75 32.5C37.7083 32.5 36.8229 32.8646 36.0938 33.5938C35.3646 34.3229 35 35.2083 35 36.25C35 37.2917 35.3646 38.1771 36.0938 38.9062C36.8229 39.6354 37.7083 40 38.75 40ZM16.125 12.5H44.125C43.5 11.7917 42.1562 11.1979 40.0938 10.7188C38.0312 10.2396 34.7083 10 30.125 10C25.6667 10 22.4062 10.2604 20.3438 10.7812C18.2812 11.3021 16.875 11.875 16.125 12.5ZM20 42.5H40C41.375 42.5 42.5521 42.0104 43.5312 41.0312C44.5104 40.0521 45 38.875 45 37.5V30H15V37.5C15 38.875 15.4896 40.0521 16.4688 41.0312C17.4479 42.0104 18.625 42.5 20 42.5Z' fill='%233D3D3D'/%3E%3C/svg%3E%0A");
}
.cts_map .con_box .box_wrap .con_box_r > p > span {
    text-align: center;
    background-color: #146A2C;
}
.cts_map .con_box .box_wrap .con_box_txt {
    width: 294px;
}
.cts_map .con_box .box_wrap .con_box_txt h5 {
    color: #146A2C;
    font-size: 18px;
    font-weight: 700;
    margin: 15px 0 5px 0;
}

@media screen and (max-width:1300px) {

}
@media screen and (max-width:1024px) {
    .cts_map .map iframe {
        height: 420px;
        margin: 30px 0 20px 0;
    }
    .cts_map .map_addr .addr {
        display: block;
        margin-bottom: 15px;
    }
    .cts_map .map_addr .addr .tit {
        font-size: 20px;
    }
    .cts_map .map_addr .tell {
        display: block;
        margin-bottom: 15px;
    }
    .cts_map .map_addr .tell h3{
        font-size: 20px;
    }
    .cts_map .con_box {
        margin-bottom: 25px;
    }
    .cts_map .con_box h2 {
        font-size: 20px;
    }
    .cts_map .con_box .box_wrap {
        display: block;
        word-break: keep-all;
    }
    .cts_map .con_box .box_wrap .con_box {
        width: auto;
    }
    .cts_map .con_box .box_wrap .con_box_txt {
        width: 250px;
    }
    .cts_map .con_box .box_wrap .con_box_txt h5 {
        color: #146A2C;
        font-size: 18px;
        font-weight: 700;
    }
}
@media screen and (max-width:768px) {
    .cts_map .map iframe {
        height: 320px;
    }
    .cts_map .map_addr .addr {
        display: block;
        margin-bottom: 15px;
    }
    .cts_map .map_addr .addr .tit {
        font-size: 20px;
    }
    .cts_map .map_addr .tell {
        display: block;
        margin-bottom: 15px;
    }
    .cts_map .map_addr .tell h3{
        font-size: 18px;
    }
    .cts_map .con_box h2 {
        font-size: 18px;
    }
    .cts_map .con_box .box_wrap .con_box_txt h5 {
        color: #146A2C;
        font-size: 15px;
        font-weight: 700;
    }
}


