@import url(default.css); /* default.css 불러오기 */

@font-face {
	font-family: 'Pretendard';
	font-weight: 800;
	font-display: swap;
	src: local('Pretendard ExtraBold'), url(../fonts/Pretendard-ExtraBold.woff2) format('woff2'), url(../fonts/Pretendard-ExtraBold.woff) format('woff');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url(../fonts/Pretendard-Regular.woff2) format('woff2'), url(../fonts/Pretendard-Regular.woff) format('woff');
}
html, body {
    /* font-family 사용하는 서체명은 font-face에서 사용한 이름으로 사용, sans-serifs는 고딕체라는 의미 */
    font-family: "Pretendard" , sans-serif;
    font-size: 15px;
    font-weight: 400; /*글자 두께 */
    color: #3d3d3d;
    line-height: 1.4; /* 행간 */
    letter-spacing: 0; /* 자간 */
    word-break: keep-all; /* 단어별로 줄바꿈 */   
}
.wrapper { /* 홈페이지의 넒이를 제한하고 가운데 정렬*/
    width: 1260px;
    margin: 0 auto;
}
header {
    height: 100px;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
}
header .logo {
    margin: 25px 0 0 0;
}
header .gnb ul {
    display: flex;
}
header .gnb ul li a {
    font-size: 20px;
    color: #1d1d1d;
    line-height: 100px; /* header의 높이와 동일한 값 */
    /* 행간을 100px을 주면 높이 100x만에 글자가 위아래 가운데로 정렬 */
    display: block; /* inline요소인 a를 block요소로 변경 */
    padding: 0 25px; /* 위아래 0 좌우 25 */
}
header .gnb ul li a:hover { /* 마우스 오버했을 때 */
    font-weight: 800;
    color: #002f87;
}
.visual {
    background: url(../images/visual_bg.png) no-repeat center center / cover;
    height: 700px;
    color: #fff;
    text-align: center;
}
.visual h2 {
    font-size: 50px;
    font-weight: 800;
    line-height: 1;
    padding: 303px 0 10px 0;
}
.biz .tit {
    text-align: center;
    margin: 99px 0 45px 0;
}
.biz .tit strong {
    font-size: 10px;
    font-weight: 800;
    color: #002f87;
}
.biz .tit h2 {
    font-size: 40px;
    font-weight: 800;
    color: #1d1d1d;
    margin: -14px 0 0 0;
}
.biz .list ul {
    display: flex;
    justify-content: space-between;
}
.biz .list ul li {
    width: 297px;
    text-align: center;
}
.biz .list ul li a {
    display: block;
}
.biz .list ul li a h3 {
    font-size: 30px;
    color: #1d1d1d;
    margin: 12px 0 12px 0; /* 위 - 오른쪽 - 아래 - 왼쪽 */
}
.biz .list ul li a p {
    margin: 0 0 15px 0 ;
}
.biz .list ul li a .more {
    width: 245px;
    height: 48px;
    line-height: 48px;
    /* 행간을 높이와 동일하게 주면 글자가 위아래 가운데 정렬이 됨 */
    border: 1px solid #ccc;
    display: inline-block;
}
.brand {
    background: url(../images/brand_bg.png) no-repeat center center / cover;
    color: #fff;
    height: 918px;
    margin: 150px 0 0 0;
}
.brand h2 {
    padding: 560px 0 0 0;
    font-size: 15px;
    font-weight: 800;
}
.brand p {
    font-size: 60px;
    font-weight: 800;
    line-height: 1.2;
    margin: 0 0 14px 0;
}
.brand a {
    border: 1px solid rgba(225,255,255,0.8);
    padding: 16px 33px; /* 위아래 16px 좌우 33px */
    display: inline-block;
}

footer {
    background-color: #333;
    color: rgba(255,255,255,0.8);
    padding: 30px 0 57px 0;
}
footer .f_nav ul {
    display: flex;
}
footer .f_nav ul li {
    margin: 0 38px 0 0;
}
/*  li.privacy (여백없음) li중에서 privacy라는 클래스명을 가진 li
    li .privacy (여백있음) li안에 privacy라는 클래스명을 가진 요소 */
footer .f_nav ul li.privacy {
    font-weight: 800;
}
footer .f_sub {
    border-top: 1px solid rgba(225,255,255,0.2);
    margin: 29px 0 0 0; /* 선 밖 여백 */
    padding: 33px 0 0 0; /* 선 내부 여백 */
}
footer .f_sub .f_info span {
    margin: 0 38px 15px 0;
    display: inline-block;
}
footer .f_sub .copy {
    margin: 24px 0 0 0;
    color: rgba(255,255,255,0.6);
}
